﻿@import url(http://fonts.googleapis.com/css?family=Cuprum);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.lmpcinfo {
    border: 2px solid;
    position: fixed;
    top: 47%;
    bottom: 40% auto;
    left: 20%;
    right: 20%;
    width: 60%;
    padding: 15px 10px;
    text-align: center;
    font-size: large;
    color: #00529B;
    background-color: #BDE5F8;
    z-index: 99;
    opacity: 0.8;
    border-radius: 10px;
}
