﻿@using LLF.Abstract.Data.Engine;
@model IPartialModel

@foreach (var item in Model.Enumerate()) {
    <span class="col-lg-4">
        @if (Model.IsPlainLink) {
            if (item.ContainsKey("ConfirmText") && !item["ConfirmText"].IsUnassigned()) {
                <a href="@Url.Action(item["Action"].ToString(), item["Controller"].ToString(), item["RouteData"])"
                   title="" data-rel="tooltip" class="btn btn-@(item["AnchorClass"].ToString())" data-original-title="@(item["LinkTitle"].ToString())"
                   onclick="return confirm('@(item["ConfirmText"].ToString())');">
                    <i class="fa fa-@(item["IconClass"].ToString())"></i>
                </a>
            } else {
                <a href="@Url.Action(item["Action"].ToString(), item["Controller"].ToString(), item["RouteData"])"
                   title="" data-rel="tooltip" class="btn btn-@(item["AnchorClass"].ToString())" data-original-title="@(item["LinkTitle"].ToString())">
                    <i class="fa fa-@(item["IconClass"].ToString())"></i>
                </a>
            }
        } else {
            if (item.ContainsKey("ConfirmText") && !item["ConfirmText"].IsUnassigned()) {
                using (Ajax.BeginForm(item["Action"].ToString(), item["Controller"].ToString(), item["RouteData"],
                new AjaxOptions() {
                    HttpMethod = "POST",
                    AllowCache = true,
                    OnSuccess = "succeeded"
                }, new { @class = "form-inline" })) {
                    <a href="javascript:void(0)"
                       title="" data-rel="tooltip" class="btn btn-@(item["AnchorClass"].ToString())" data-original-title="@(item["LinkTitle"].ToString())"
                       onclick="onbtnclick($(this), '@(item["ConfirmText"].ToString())')">
                        <i class="fa fa-@(item["IconClass"].ToString())"></i>
                    </a>
                }
            } else {
                using (Ajax.BeginForm(item["Action"].ToString(), item["Controller"].ToString(), item["RouteData"],
                new AjaxOptions() {
                    HttpMethod = "POST",
                    AllowCache = true,
                    OnSuccess = "succeeded"
                }, new { @class = "form-inline" })) {
                    <a href="javascript:void(0)"
                       title="" data-rel="tooltip" class="btn btn-@(item["AnchorClass"].ToString())" data-original-title="@(item["LinkTitle"].ToString())"
                       onclick="onbtnclick($(this))">
                        <i class="fa fa-@(item["IconClass"].ToString())"></i>
                    </a>
                }
            }
        }
    </span>
}
