﻿@model CroppedSlideViewModel

<div class="container" id="crop-avatar">

    <!-- Current avatar -->
    <div class="avatar-view hidden" title="@DashboardContent.TitleLinkAddSlide" id="avatar-trigger">
        <img src="@(Model.SlidePath.DefaultIfNullOrEmpty("/Images/gallerize-current.jpg"))" alt="" class="hidden">
    </div>

    <!-- Cropping modal -->
    <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                @using (Ajax.BeginForm("gallerize", "dashboard", new AjaxOptions() { HttpMethod = "POST" }, null, new { @class = "avatar-form", enctype = "multipart/form-data" })) {
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h4 class="modal-title" id="avatar-modal-label">@DashboardContent.TitleAddSlide</h4>
                    </div>
                    <div class="modal-body">
                        <div class="avatar-body">

                            <!-- Text And Index -->
                            <div class="row">
                                <div class="col-md-9">
                                    @Html.LabelFor(m => m.SlideTitle, DashboardContent.TitleSlideTitle, new { @class = "input-lg col-md-10" })
                                    @Html.TextBoxFor(m => m.SlideTitle, new { @class = "input-lg col-md-12", placeholder = DashboardContent.PlaceholderSlideTitle, data_lmpc_should = true })
                                </div>
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.FirstAvaliableSlideIndex, DashboardContent.TitleSlideIndex, new { @class = "input-lg col-md-10" })
                                    @Html.DropDownListFor(m => m.SlideIndex, new SelectList(Model.AvaliableSlideIndices), new { @class = "input-lg col-md-10" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.SlideText, DashboardContent.TitleSlideText, new { @class = "input-lg col-md-10" })
                                    @Html.TextAreaFor(m => m.SlideText, new { @class = "input-lg col-md-12", placeholder = DashboardContent.PlaceholderSlideText, data_lmpc_should = true, rows = 3 })
                                </div>
                            </div>
                            <br />
                            @Html.Hidden("ImageSource", null, new { @class = "avatar-src" })
                            @Html.Hidden("ImageData", null, new { @class = "avatar-data" })

                            <!-- Upload image and data -->
                            <div class="row">
                                <div class="avatar-upload">
                                    <div class="col-md-12">
                                        @Html.TextBox("ImageFile", null, new { type = "file", @class = "avatar-input btn btn-success", id = "avatarInput", data_lmpc_should = true })
                                    </div>
                                </div>
                            </div>

                            <!-- Crop and preview -->
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="avatar-wrapper"></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="avatar-preview preview-lg"></div>
                                    <div class="avatar-preview preview-md"></div>
                                    <div class="avatar-preview preview-sm"></div>
                                </div>
                            </div>

                            <div class="row avatar-btns">
                                <div class="col-md-9">
                                    <div class="btn-group">
                                        <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" title="@DashboardContent.TitleRotateMinus90degrees">
                                            @DashboardContent.TitleRotateLeft
                                        </button>
                                        <button class="btn btn-primary" data-method="rotate" data-option="-15" type="button">-15@(DashboardContent.AbbrvDegree)</button>
                                        <button class="btn btn-primary" data-method="rotate" data-option="-30" type="button">-30@(DashboardContent.AbbrvDegree)</button>
                                        <button class="btn btn-primary" data-method="rotate" data-option="-45" type="button">-45@(DashboardContent.AbbrvDegree)</button>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary" data-method="rotate" data-option="90" type="button" title="@DashboardContent.TitleRotate90degrees">
                                            @DashboardContent.TitleRotateRight
                                        </button>
                                        <button class="btn btn-primary" data-method="rotate" data-option="15" type="button">15@(DashboardContent.AbbrvDegree)</button>
                                        <button class="btn btn-primary" data-method="rotate" data-option="30" type="button">30@(DashboardContent.AbbrvDegree)</button>
                                        <button class="btn btn-primary" data-method="rotate" data-option="45" type="button">45@(DashboardContent.AbbrvDegree)</button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary btn-block avatar-save" type="submit">@DashboardContent.TitleCropImageSubmit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                      <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    </div> -->
                }
            </div>
        </div>
    </div><!-- /.modal -->
    <!-- Loading state -->
    <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
</div>

@Html.Script(4, @<script src="@Url.Content("~/Scripts/cropper.min.js")" type="text/javascript">
    </script>)
@Html.Script(5, @<script src="@Url.Content("~/Scripts/cropper-main.js")" type="text/javascript">
    </script>)