﻿@model CarouselViewModel

@Html.Heading(@<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/gallery/style.css")" />,
    @<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/gallery/elastislide.css")" />,
    @<noscript>
        <style>
            .es-carousel ul {
                display: block;
            }
        </style>
    </noscript>,
    @<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
        <div class="rg-image-wrapper">
            {{if itemsCount > 1}}
            <div class="rg-image-nav">
                <a href="#" class="rg-image-nav-prev">Previous Image</a>
                <a href="#" class="rg-image-nav-next">Next Image</a>
            </div>
            {{/if}}
            <div class="rg-image"></div>
            <div class="rg-loading"></div>
            <div class="rg-caption-wrapper">
                <div class="rg-caption" style="display:none;">
                    <p></p>
                </div>
            </div>
        </div>
    </script>)

<h1>@Model.GalleryTitle <span>@Model.GallerySubTitle</span></h1>
<div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper">
            <div class="es-nav">
                <span class="es-nav-prev">@PageContent.TitlePrevious</span>
                <span class="es-nav-next">@PageContent.TitleNext</span>
            </div>
            <div class="es-carousel">
                <ul>
                    @foreach (var slide in Model.Slides) {
                        <li>
                            <a href="#">
                                <img src="@(slide.ThumbnailPath)"
                                     data-large="@(slide.SlidePath)" alt="resim"
                                     data-description="@(slide.SlideText)" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- End Elastislide Carousel Thumbnail Viewer -->
    </div><!-- rg-thumbs -->
</div><!-- rg-gallery -->
@Html.Script(10, @<script src="@Url.Content("~/Scripts/gallery/jquery.tmpl.min.js")" t type="text/javascript">
    </script>)
@Html.Script(11, @<script src="@Url.Content("~/Scripts/gallery/jquery.easing.1.3.js")" type="text/javascript">
    </script>)
@Html.Script(12, @<script src="@Url.Content("~/Scripts/gallery/jquery.elastislide.js")" type="text/javascript">
    </script>)
@Html.Script(13, @<script src="@Url.Content("~/Scripts/gallery/gallery.js")" type="text/javascript">
    </script>)

