﻿<div id="divFooter" class="footerArea">

    <div class="divPanel">

        <div class="row-fluid">
            <div class="span3" id="footerArea1">

                <h3>@PageContent.TitleFooterAbout</h3>

                <p>
                    @PageContent.TitleFooterAboutContent
                </p>

                <p>
                    <a href="#" title="@PageContent.TitleFooterTermsOfUse">@PageContent.TitleFooterTermsOfUse</a><br />
                    <a href="#" title="@PageContent.TitleFooterPrivacyPolicy">@PageContent.TitleFooterPrivacyPolicy</a><br />
                    <a href="#" title="PageContent.TitleFooterFAQ">@PageContent.TitleFooterFAQ</a><br />
                    <a href="#" title="PageContent.TitleFooterSitemap">@PageContent.TitleFooterSitemap</a>
                </p>

            </div>
            <div class="span3" id="footerArea2">

                <h3>@PageContent.TitleFooterRecentComments</h3>
                @*<p>
                    <a href="#" title="">Lorem Ipsum is simply dummy text</a><br />
                    <span style="text-transform:none;">2 hours ago</span>
                </p>
                <p>
                    <a href="#" title="">Duis mollis, est non commodo luctus</a><br />
                    <span style="text-transform:none;">5 hours ago</span>
                </p>
                <p>
                    <a href="#" title="">Maecenas sed diam eget risus varius</a><br />
                    <span style="text-transform:none;">19 hours ago</span>
                </p>*@
                <p>
                    <a href="#" title="">@PageContent.TitleFooterViewAllComments</a>
                </p>

            </div>
            <div class="span3" id="footerArea3">

                <h3>@PageContent.TitleFooterTestimony</h3>
                <p>
                    @PageContent.TitleFooterTestimonyContent          
                </p>

            </div>
            <div class="span3" id="footerArea4">

                <h3>@PageContent.TitleFooterContact</h3>

                <ul id="contact-info">
                    <li>
                        <i class="general foundicon-phone icon"></i>
                        <span class="field">@PageContent.TitleFooterPhone:</span>
                        <br />
                        @PageContent.ContactPhone
                    </li>
                    <li>
                        <i class="general foundicon-mail icon"></i>
                        <span class="field">@PageContent.TitleFooterEmail:</span>
                        <br />
                        <a href="mailto:@(PageContent.ContactEmail)" title="Email">@PageContent.ContactEmail</a>
                    </li>
                    <li>
                        <i class="general foundicon-home icon" style="margin-bottom:50px"></i>
                        <span class="field">@PageContent.TitleFooterAddress:</span>
                        <br />
                        @PageContent.TitleFooterContactContent1<br />
                        @PageContent.TitleFooterContactContent2<br />
                        @PageContent.TitleFooterContactContent3
                    </li>
                </ul>

            </div>
        </div>

        <br /><br />
        <div class="row-fluid">
            <div class="span12">
                <p class="copyright">
                    Copyright © 2013 @PageContent.ApplicationDesignerCompany. @PageContent.ApplicationAllRightsReserved.
                </p>

                <p class="social_bookmarks">
                    <a href="#"><i class="social foundicon-facebook"></i> Facebook</a>
                    <a href=""><i class="social foundicon-twitter"></i> Twitter</a>
                    <a href="#"><i class="social foundicon-pinterest"></i> Pinterest</a>
                    <a href="#"><i class="social foundicon-rss"></i> Rss</a>
                </p>
            </div>
        </div>

    </div>
</div>

