﻿@{
    ViewBag.Title = PageTitles.HomeIndex;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.IndexCurrent = "active";
}

@section Carousel {
    @Html.Partial("_Carousel", (Object)Model.Carousel)
}

<div class="divPanel notop page-content">


    <div class="row-fluid">
        <!--Edit Main Content Area here-->
        <div class="span12" id="divMain">
            <h1>Welcome</h1>

            <p>
                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong> Sed ipsum metus, pulvinar sed volutpat sit amet, fermentum in orci. Quisque vitae neque lectus, quis accumsan massa. Vivamus viverra orci eu dolor tristique sollicitudin. Duis sollicitudin laoreet tellus ac dictum.
                Fusce suscipit lectus vel elit posuere volutpat. Morbi ornare eros ut magna ullamcorper feugiat.
                Vivamus feugiat ligula vel nisi venenatis eleifend. Morbi accumsan rhoncus viverra. Integer orci nisi,
                cursus sit amet luctus quis, dictum eget massa.
            </p>

            <br />
            <br />

            <div class="row-fluid">
                <div class="span3">
                    <div class="box">
                        <i class="icon-wrench"></i>
                        <h4 class="title">Web Design</h4> <hr />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>

                <div class="span3">
                    <div class="box">
                        <i class="icon-leaf"></i>
                        <h4 class="title">Web Development</h4> <hr />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>

                <div class="span3">
                    <div class="box">
                        <i class="icon-edit"></i>
                        <h4 class="title">Custom Themes</h4> <hr />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>

                <div class="span3">
                    <div class="box">
                        <i class="icon-signal"></i>
                        <h4 class="title">SEO</h4> <hr />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
            </div>


            <div class="row-fluid">
                <div class="span3">
                    <h5 class="text-info">Project 1</h5>
                    <img src="images/home-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><a href="#">Read More &raquo;</a></p>
                </div>
                <div class="span3">
                    <h5 class="text-info">Project 2</h5>
                    <img src="images/home-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><a href="#">Read More &raquo;</a></p>
                </div>
                <div class="span3">
                    <h5 class="text-info">Project 3</h5>
                    <img src="images/home-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><a href="#">Read More &raquo;</a></p>
                </div>
                <div class="span3">
                    <h5 class="text-info">Project 4</h5>
                    <img src="images/home-image.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><a href="#">Read More &raquo;</a></p>
                </div>
            </div>

        </div>
        <!--End Main Content-->
    </div>

    <div id="footerInnerSeparator"></div>
</div>
