﻿@model CarouselViewModel

@{
    ViewBag.Title = PageTitles.HomePortfolio;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.PortfolioCurrent = "active";

    var groupedRows = Model.Slides.GroupIntoBy(4);
}

@section Styles {
    @Styles.Render("~/Content/bbiz/yoxcss")
}


<div class="divPanel notop page-content">

    <div class="breadcrumbs">
        @Html.ActionLink(PageTitles.HomeIndex, "index", "home") &nbsp;/&nbsp; <span>@PageTitles.HomePortfolio</span>
    </div>

    <!--Edit Portfolio Content Area here-->
    <div class="row-fluid">
        <div class="span12">
            <h1>@PageContent.TitlePortfolio</h1>
            <div class="yoxview">
                @foreach (var rowFour in groupedRows) {
                    <div class="row-fluid">
                        <ul class="thumbnails">
                            @foreach (var item in rowFour) {
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="@(item.SlidePath)"><img src="@(item.ThumbnailPath)" alt="@(item.SlideText)" title="@(item.SlideText)" /></a>
                                        <div class="caption truncate">
                                            <h3>@(item.SlideTitle)</h3>
                                            <p>@(item.SlideText.Summary(66))</p>
                                            @*<p><a href="#" class="btn btn-primary">Read More...</a></p>*@
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

@section Scripts {

    @Scripts.Render("~/bundles/bbiz/portfolio")
    <script type="text/javascript">
        $(window).load(function () { var options = { autoResize: true, container: $('#gridArea'), offset: 10 }; var handler = $('#tiles li'); handler.wookmark(options); $('#tiles li').each(function () { var imgm = 0; if ($(this).find('img').length > 0) imgm = parseInt($(this).find('img').not('p img').css('margin-bottom')); var newHeight = $(this).find('img').height() + imgm + $(this).find('div').height() + $(this).find('h4').height() + $(this).find('p').not('blockquote p').height() + $(this).find('iframe').height() + $(this).find('blockquote').height() + 5; if ($(this).find('iframe').height()) newHeight = newHeight + 15; $(this).css('height', newHeight + 'px'); }); handler.wookmark(options); handler.wookmark(options); });
    </script>
    <script type="text/javascript">
        $(document).ready(function () { $('.yoxview').yoxview({ autoHideInfo: false, renderInfoPin: false, backgroundColor: '#ffffff', backgroundOpacity: 0.8, infoBackColor: '#000000', infoBackOpacity: 0.7 }); $('.yoxview a img').hover(function () { $(this).animate({ opacity: 0.7 }, 300) }, function () { $(this).animate({ opacity: 1 }, 300) }); });
    </script>
}
