﻿<%@ Page Title="" Language="C#" MasterPageFile="~/FrontGarden/FrontGarden.Master" AutoEventWireup="true" CodeBehind="Information.aspx.cs" Inherits="EMevzuat.View.FrontGarden.Information" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphMain" runat="server">
    <div class="center">
        <blockquote class="site">
            <iframe src="contract" id="contract" class="content" seamless="seamless"></iframe>
        </blockquote>
    </div>
</asp:Content>

<asp:Content runat="server" ContentPlaceHolderID="ScriptsPlaceHolderChild" ID="contenS">
</asp:Content>