﻿@using BilBildir.ViewModel.UI.User
@using LLF.Extensions

@model TheBidViewModel

@{
	ViewBag.Title = Model.ViewTitle;
	Layout = "~/Views/Shared/_User.cshtml";
}


<div id="content" class="span10">


	@Html.Partial("_Breadcrumb", new ViewDataDictionary() {
        { "SiteName", Classified.SiteName },
        { "SiteTitle", @ViewBag.Title }
    })

	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2>
					<i class="halflings-icon edit"></i>
					<span class="break"></span>
					@Classified.AddBidFormTitle
				</h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				@using (Ajax.BeginForm("addbid", "user", null, new AjaxOptions() {
					HttpMethod = "POST",
					AllowCache = false,
					OnSuccess = "succeeded"
				}, new { @class = "form-horizontal" })) {
					<fieldset>
						<div class="control-group">
							@Html.LabelFor(m => m.Price, Classified.AddBidPriceLabel,
								new { @class = "control-label", @for = "focusedInput" })
							<div class="controls">
								<div class="input-append">
									@Html.TextBoxFor(m => m.Price,
									new {
										type = "text", @class = "input-xlarge focused",
										id = "focusedInput", value = Model.Price,
										required = ""
									})
									<span class="add-on">.00</span>
								</div>
							</div>
						</div>
						<div class="control-group">
							@Html.LabelFor(m => m.Deadline, Classified.AddBidDeadlineLabel,
								new { @class = "control-label", @for = "date01" })
							<div class="controls">
								@Html.TextBoxFor(m => m.Deadline,
									new {
										@class = "input-xlarge span6 datepicker",
										type = "text",
										id = "date01",
										required = ""
									})
							</div>
						</div>
						<div class="control-group">
							@Html.LabelFor(m => m.CategoryList, Classified.AddBidCategoryLabel,
								new { @class = "control-label", @for = "selectbidcategory" })
							<div class="controls">
								@Html.ListBoxFor(m => m.SelectedCategories,
									new MultiSelectList(Model.CategoryList, "ID", "Text"),
									new {
										@class = "span8",
										data_placeholder = Classified.AddBidCategoryPlaceholder,
										id = "selectbidcategory",
										data_rel = "chosen",
										multiple = "",
										required = ""
									})

							</div>
						</div>
						<div class="control-group hidden-phone">
							<label class="control-label" for="textarea2">
								@Classified.BidDescriptionFormTitle
							</label>
							<div class="controls">
								@Html.TextAreaFor(m => m.BidDescription,
								new { @class = "cleditor span8", id = "textarea2", rows = "5" })
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">@Classified.SaveChanges</button>
							@Html.Partial("_HistoryBack")
						</div>
					</fieldset>
				}

			</div>
		</div><!--/span-->

	</div><!--/row-->
</div>
