﻿@using BilBildir.Web.Models
@using BilBildir.ViewModel.UI.User

@model UserViewModel

@{
	ViewBag.Title = Model.ViewTitle;
	Layout = "~/Views/Shared/_User.cshtml";
}

<!-- start: Content -->
<div id="content" class="span10">


	@Html.Partial("_Breadcrumb", new ViewDataDictionary() {
        { "SiteName", Classified.SiteName },
        { "SiteTitle", @ViewBag.Title }
    })

	<div class="row-fluid">

		<a class="quick-button metro yellow span2">
			<i class="icon-group"></i>
			<p class="userbadge">Users</p>
			<span class="badge">237</span>
		</a>
		<a class="quick-button metro red span2">
			<i class="icon-comments-alt"></i>
			<p class="userbadge">Comments</p>
			<span class="badge">46</span>
		</a>
		<a class="quick-button metro blue span2">
			<i class="icon-shopping-cart"></i>
			<p class="userbadge">Orders</p>
			<span class="badge">13</span>
		</a>
		<a class="quick-button metro green span2">
			<i class="icon-barcode"></i>
			<p class="userbadge">Products</p>
		</a>
		<a class="quick-button metro pink span2">
			<i class="icon-envelope"></i>
			<p class="userbadge">Messages</p>
			<span class="badge ">88</span>
		</a>
		<a class="quick-button metro black span2">
			<i class="icon-calendar"></i>
			<p style="margin-top: 1px;">@Html.Partial("_DigitalClock", new ViewDataDictionary() { { "ShowDate", true }, { "ShowTime", false } })</p>
		</a>

		<div class="clearfix"></div>

	</div><!--/row-->



</div><!--/.fluid-container-->
<!-- end: Content -->
