﻿@using BilBildir.ViewModel.UI.User
@using LLF.Extensions
@using GridMvc.Html;
@using BilBildir.ViewModel.UI.User.RowModels

@model MyTasksViewModel
@{
	ViewBag.Title = Model.ViewTitle;
	Layout = "~/Views/Shared/_User.cshtml";
	Func<MyTasksViewModel, IPartialModel> reviewedBidsModel = (row) => DependencyContainer.Take<IPartialModel>()
                            .Attribute("IsPostBackLink").Has(false).Has(true)
                            .Attribute("Action").Has(SegmentDefaults.MyTasks).Has(SegmentDefaults.TheTask)
							.Attribute("Controller").Has("user").Has("user")
							.Attribute("RouteData")
                                .Has(new { argument = row.TaskID })
                                .Has(new { command = "view", argument = row.TaskID })
							.Attribute("LinkTitle")
                                .Has(Classified.ActionTaskCompleteTitle)
                                .Has(Classified.ActionTaskDetailTitle)
                            .Attribute("ConfirmText").Has(Classified.ConfirmTaskComplete).Has("")
                            .Attribute("IconClass").Has("zoom-in").Has("edit")
                            .Attribute("AnchorClass").Has("success").Has("info");

}

<div id="content" class="span10">

	@Html.Partial("_Breadcrumb", new ViewDataDictionary() {
        { "SiteName", Classified.SiteName },
        { "SiteTitle", @ViewBag.Title }
    })

	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2>
					<i class="halflings-icon user"></i>
					<span class="break"></span>
					@Classified.MyTasksTableTitle
				</h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				@Html.Grid(Model.AssignedTasks).Columns(
					columns => {
						columns.Add(m => m.Title).Titled(Classified.MyTasksColumnTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => @<span data-rel="tooltip" data-original-title="@row.Title">@row.TitleSummary</span>);
						columns.Add(m => m.BidderIdentity).Titled(Classified.MyTasksColumnBidderIdentity).Sortable(true);
						columns.Add(m => m.ActorIdentity).Titled(Classified.MyTasksColumnActorIdentity).Sortable(true);
						columns.Add(m => m.CompletionPercent).Titled(Classified.MyTasksColumnCompletionPercent).Sortable(true);
						columns.Add(m => m.Status).Titled(Classified.MyTasksColumnTaskStatus).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => @<span class="label label-@(row.TaskStatusColorClass)">
							@row.Status
						</span>);
						columns.Add().Titled(Classified.MyTasksColumnProgressBar).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => @<div class="progress progress-striped progress-@(row.TaskStatusColorClass)">
						<div class="bar" style="width: @(row.CompletionPercent)%;"></div>
					</div>);
						columns.Add().Titled(Classified.ColumnActionsTitle).Sortable(false).SetWidth(140).Sanitized(false).Encoded(false)
							.RenderValueAs(row => Html.Partial("_Actions", reviewedBidsModel(row)));
							 }).Sortable().WithPaging(20).EmptyText(Classified.MyTasksTableEmptyData).SetRowCssClasses(row => "active")
				@Html.Partial("_HistoryBack")
			</div>
		</div><!--/span-->
	</div><!--/row-->



</div>