﻿@using BilBildir.Definitions.Static
@using BilBildir.ViewModel.UI.User
@using LLF.Extensions

@model ProfileFormViewModel

@{
	ViewBag.Title = Model.ViewTitle;
    Layout = "~/Views/Shared/_User.cshtml";
}


<div id="content" class="span10">


    @Html.Partial("_Breadcrumb", new ViewDataDictionary() {
        { "SiteName", Classified.SiteName },
        { "SiteTitle", @ViewBag.Title }
    })

    <div class="row-fluid sortable">
        <div class="box span6">
            <div class="box-header" data-original-title>
                <h2>
                    <i class="halflings-icon edit"></i>
                    <span class="break"></span>
                    @Classified.ProfileFormTitle
                </h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                @using (Ajax.BeginForm("setprofile", "user", null, new AjaxOptions() {
                    HttpMethod = "POST",
                    AllowCache = false,
                    OnSuccess = "succeeded"
                }, new { @class = "form-horizontal" })) {
                    <fieldset>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Identity, Classified.ProfileIdentityLabel,
                                new { @class = "control-label", @for = "focusedInput" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Identity,
                                    new {
                                        type = "text", @class = "input-xlarge focused",
                                        id = "focusedInput", value = Model.Identity,
                                        required = ""
                                    })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.SecretQuestion, Classified.ProfileSecretQuestionLabel,
                                new { @class = "control-label", @for = "input01" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.SecretQuestion,
                                    new {
                                        @class = "input-xlarge span7",
                                        type = "text",
                                        id = "input01", value = Model.SecretQuestion,
                                        required = ""
                                    })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.AnswerOfSecretQuestion,
							 Classified.ProfileAnswerOfSecretQuestionLabel,
                                new { @class = "control-label", @for = "input02" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.AnswerOfSecretQuestion,
                                    new {
                                        @class = "input-xlarge span7",
                                        type = "text",
                                        id = "input02", value = Model.AnswerOfSecretQuestion,
                                        required = ""
                                    })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Email,
							 Classified.ProfileEmailLabel,
                                new { @class = "control-label", @for = "input03" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Email,
                                    new {
                                        @class = "input-xlarge span10 disabled",
                                        type = "email",
                                        id = "input03", value = Model.Email,
                                        required = "",
                                        disabled = ""
                                    })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Password,
							 Classified.ProfilePasswordLabel,
                                new { @class = "control-label", @for = "input04" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Password,
                                    new {
                                        @class = "input-xlarge span7",
                                        type = "password",
                                        id = "input04", value = Model.Password,
                                        required = ""
                                    })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.PasswordRepeat,
							 Classified.ProfilePasswordRepeatLabel,
                                new { @class = "control-label", @for = "input05" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.PasswordRepeat,
                                    new {
                                        @class = "input-xlarge span7",
                                        type = "password",
                                        id = "input05", value = Model.PasswordRepeat,
                                        required = ""
                                    })
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">@Classified.SaveChanges</button>
							@Html.Partial("_HistoryBack")
                        </div>
                    </fieldset>
                }
            </div>
        </div><!--/span-->
        <div class="box span6">
            <div class="box-header">
                <h2><i class="halflings-icon align-justify"></i><span class="break"></span>@Classified.SelectYourAvatar</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
               @Html.Action("ImageCropper")
            </div>
        </div><!--/span-->

    </div><!--/row-->
</div>
