﻿@using BilBildir.ViewModel.UI.User
@using LLF.Extensions

@model TheBidViewModel

@{
    ViewBag.Title = Model.ViewTitle;
    Layout = "~/Views/Shared/_User.cshtml";
}


<div id="content" class="span10">


    @Html.Partial("_Breadcrumb", new ViewDataDictionary() {
        { "SiteName", Classified.SiteName },
        { "SiteTitle", @ViewBag.Title }
    })

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2>
                    <i class="halflings-icon edit"></i>
                    <span class="break"></span>
                    @Classified.BidDetailTitle
                </h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                @using (Model.BidFormEditMode ?
    Ajax.BeginForm("thebid", "user",
        new { argument = Request.RequestContext.RouteData.Values["argument"].ToType<Int64>() },
        new AjaxOptions() {
            HttpMethod = "POST",
            AllowCache = false,
            OnSuccess = "succeeded"
        }, new { @class = "form-horizontal" })
        : Html.BeginForm("thebid", "user", FormMethod.Get, new { @class = "form-horizontal" })) {
                    <fieldset>
                        @if (!Model.BidFormEditMode) {
                            <div class="control-group">
                                <label class="control-label">@Classified.BidApplicantLabel</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">@(Model.ApplicantIdentity)</span>
                                </div>
                            </div>
                        }
                        <div class="control-group">
                            @Html.LabelFor(m => m.Price, Classified.AddBidPriceLabel,
                                new { @class = "control-label", @for = "focusedInput" })
                            <div class="controls">
                                <div class="input-append">
                                    @Html.TextBoxFor(m => m.Price, Model.BidFormEditMode ?
                                    "{0:F0}" : "{0:C}",
                                Model.BidFormEditMode ? new {
                                    type = "text", @class = "input-xlarge focused",
                                    id = "focusedInput", value = Model.Price,
                                    required = ""
                                }.As<Object>() :
                                new {
                                    type = "text", @class = "input-xlarge uneditable-input",
                                    id = "focusedInput", value = Model.Price,
                                    disabled = ""
                                }.As<Object>())
                                    <span class="add-on">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Deadline, Classified.AddBidDeadlineLabel,
                            new { @class = "control-label", @for = "date01" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Deadline, Model.BidFormEditMode ?
                                new {
                                    @class = "input-xlarge datepicker",
                                    type = "text",
                                    id = "date01",
                                    required = ""
                                }.As<Object>() :
                                new {
                                    @class = "uneditable-input",
                                    type = "text",
                                    id = "date01", value = Model.Deadline,
                                    disabled = ""
                                }.As<Object>()
                            )
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-group">
                                <label class="control-label">@Classified.AddBidCategoryLabel</label>
                                <div class="controls">
                                    @Html.ListBoxFor(m => m.SelectedCategories,
                                    new MultiSelectList(@Model.CategoryList, "ID", "Code"),
                                    Model.BidFormEditMode ?
                                    new {
                                        @class = "span6",
                                        data_placeholder = Classified.AddBidCategoryPlaceholder,
                                        id = "selectbidcategory",
                                        data_rel = "chosen",
                                        multiple = "",
                                        required = ""
                                    }.As<Object>() :
                                    new {
                                        @class = "span6",
                                        data_placeholder = Classified.AddBidCategoryPlaceholder,
                                        id = "selectbidcategory",
                                        data_rel = "chosen",
                                        multiple = "",
                                        disabled = ""
                                    }.As<Object>())
                                </div>
                            </div>
                        </div>
                        <div class="control-group hidden-phone">
                            <label class="control-label" for="textarea2">
                                @Classified.BidDescriptionFormTitle
                            </label>
                            <div class="controls">
                                @if (Model.BidFormEditMode) {
                                    @Html.TextAreaFor(m => m.BidDescription,
                                new { @class = "cleditor", id = "textarea2", rows = "5" })
                                } else {
                                    @Html.TextAreaFor(m => m.BidDescription,
                                new { @class = "cleditor uneditable-input", id = "textarea2", rows = "5", disabled = "" })
                                }
                            </div>
                        </div>
                        <div class="form-actions">
                            @if (Model.BidFormEditMode) {
                                <button type="submit" class="btn btn-primary">@Classified.SaveChanges</button>
                            }
                            @Html.Partial("_HistoryBack")
                        </div>
                    </fieldset>
                }
            </div>
        </div><!--/span-->
    </div><!--/row-->
</div>