﻿#carousel {
  width:1000px;
  height:300px;
  position:relative;
  clear:both;
  overflow:hidden;
  margin:0 auto;
}
#carousel img {
  visibility:hidden; /* hide images until carousel positions them */
  cursor:pointer;
}