﻿#Packages {
    position: absolute;
    LEFT: 60px;
    top: 350px;
}

input.text-field {
    padding: 10px 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #e3e9dc;
    border-color: #18a8c8;
    color: #118eb1;
    width: 70%;
    height: 30px;
    font-size: 1.0em;
    font-family: Cuprum;
    opacity: 0.6;
}

div#MainForm {
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    height: 90% auto !important;
}

.center {
    margin: 0 auto;
    padding-left: 10% 0;
    padding-right: 0 -10%;
}

iframe#contract {
    width: 90%;
    height: 900px;
    font-weight: lighter;
}

blockquote.site {
    overflow-wrap: break-word;
    margin: 22px 40px;
    padding-left: 32px;
    color: inherit;
    width: 94%;
    height: 100%;
    background: transparent url("images/blockquote.gif") no-repeat 0 0;
}
blockquote.site .content {
    display: inline-block; 
    overflow: hidden;
    padding-right: 32px;
    background: transparent url("images/blockquote-closing.gif") no-repeat 0 0 ;
    background-position: bottom right;
}
span.money, span.times, span.date {
    color: #006e8b;
}
