﻿.dl-horizontal dt {
	white-space: normal;
}

img.centered {
	width: 100%;
	margin: 0 auto;
}

div#map-contact {
	width: 500px;
	height: 400px;
	margin: 0 auto;
}

.margin-zero {
	margin: 0 auto;
}

.border2px {
	border: 2px solid #000000;
}

h1#apptitle {
	position: relative;
	top: 3px;
	text-shadow: 2px 2px 6px #FFF;
	color: white;
}

.margin-gap {
	margin-left: 10%;
	margin-right: 10%;
}

.navbar-default .navbar-nav > li > a.current, .navbar-default .navbar-nav > li > a:focus {
	color: #178acc;
	background-color: #ffffff;
}
.truncate {
  min-height: 140px;
}
.truncate > h3 {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}