﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Headquarters/Headquarters.Master" AutoEventWireup="true" CodeBehind="Categories.aspx.cs" Inherits="EMevzuat.View.Headquarters.Categories" %>

<%@ Register Src="~/Headquarters/Controls/categories.ascx" TagPrefix="uc1" TagName="categories" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:categories runat="server" ID="categories" />
</asp:Content>
