﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Headquarters/Headquarters.Master" AutoEventWireup="true" CodeBehind="Documents.aspx.cs" Inherits="EMevzuat.View.Headquarters.Documents"  ValidateRequest="false"%>

<%@ Register Src="~/Headquarters/Controls/documents.ascx" TagPrefix="uc1" TagName="documents" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:documents runat="server" ID="documents" />
</asp:Content>

