﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Headquarters/Headquarters.Master" AutoEventWireup="true" CodeBehind="Exceptions.aspx.cs" Inherits="EMevzuat.View.Headquarters.Exceptions" ValidateRequest="false" %>

<%@ Register Src="~/Headquarters/Controls/exceptions.ascx" TagPrefix="uc1" TagName="exceptions" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:exceptions runat="server" id="exceptions" />
</asp:Content>
