﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Headquarters/Headquarters.Master" AutoEventWireup="true" CodeBehind="Packages.aspx.cs" Inherits="EMevzuat.View.Headquarters.Packages" %>

<%@ Register Src="~/Headquarters/Controls/packages.ascx" TagPrefix="uc1" TagName="packages" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:packages runat="server" id="packages" />
</asp:Content>
