﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Headquarters/Headquarters.Master" AutoEventWireup="true" CodeBehind="UserMails.aspx.cs" Inherits="EMevzuat.View.Headquarters.UserMails" ValidateRequest="false" %>

<%@ Register Src="~/Headquarters/Controls/usermails.ascx" TagPrefix="uc1" TagName="usermails" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:usermails runat="server" id="usermails" />
</asp:Content>
