﻿table.CommandRow {
    margin: 0 auto;
}
table.CommandRow tr td a:link {
    text-decoration: none;
}

.CommandBox {
    padding: 10px;
    height: 132px; 
    width: 132px;
    text-align: center;
}
.CommandBox span {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Cuprum';
    color: #FFF !important;
    text-shadow: 0px 0px 6px #000;
    text-decoration: none;
    position: relative;
    top: 100%;
    left: 0px;
}
.CommandBox.d {
    background: url(images/document.png) no-repeat center;
}

.CommandBox.c {
    background: url(images/category.png) no-repeat center;
}

.CommandBox.m {
    background: url(images/mail.png) no-repeat center;
}

.CommandBox.b {
        background: url(images/bulletin.png) no-repeat center;
}

.CommandBox.h {
        background: url(images/html.png) no-repeat center;
}

.CommandBox.u {
        background: url(images/user.png) no-repeat center;
}

.CommandBox.p {
        background: url(images/package.png) no-repeat center;
}

.CommandBox.pc {
        background: url(images/packageauth.png) no-repeat center;
}

.CommandBox.py {
        background: url(images/payment.png) no-repeat center;
}

.CommandBox.e {
        background: url(images/exception.png) no-repeat center;
}
.CommandBox.s {
        background: url(images/solution.png) no-repeat center;
}
.CommandBox.va {
        background: url(images/help.png) no-repeat center;
}
#dashboard{
    height: 500px;
}