﻿
/***********Code by lampiclobe**********/
/*body { 
    background: url(../Images/bg-fixed.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.text-white-shadow {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 10px #FFF;
}

.text-black-shadow {
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 10px #000;
}
.only-black-shadow {
    text-shadow: 1px 1px 10px #000;
}
.only-white-shadow {
    text-shadow: 1px 1px white;
}
.text-white {
	color:white;
}
/*.grid-mvc th {
    background: #30a8ff;
}*/
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}
.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 3px #3f73df;
}

.logo-img {
	margin: 0 auto 10px;
	display: block;
	box-shadow: rgba(15,15,15,0.3) 5px 5px;
}
.row-center > [class*="col-"] {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.content-center {
	float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.login-body {
    background: url(../Images/login-bg-fixed.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.auth-stride {
	position:absolute;
	top: 90px;
	width: 100%;
	right: 0px;
	left: 0px;
	height: 500px;
	opacity: 0.1;
	background-color: white;
	z-index: -1;
}
.auth-header {
	text-align:center;
	color: white;
}

input.transparent-input {
	opacity: 0.5;
}

.bring-front {
	z-index: 99999999;
	display: block;
}
.bring-back {
	z-index: -1;
	display: block;
}
.userbadge {
	font-weight: bold;
	font-size: 18px;
}