﻿@using FS.ViewModel
@model LeftMenuViewModel

<br />
<br />
<br />
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-success"><strong>Anasayfa</strong></a>
    <a href="#" class="list-group-item list-group-item-info"><strong>Hakkımızda</strong></a>
    <a href="#" class="list-group-item list-group-item-warning"><strong>Projelerimiz</strong></a>
    <a href="#" class="list-group-item list-group-item-danger"><strong>İletişim</strong></a>
</div>