﻿@using FS.ViewModel
@model LoginInfoViewModel

<div class="well well-sm" style="margin-top: 10px;">
    @if (Model.UserLoggedIn) {
        <span>Hoş Geldiniz <strong>@Model.UserName</strong>&nbsp;&nbsp;@Html.ActionLink("Oturumu Kapatın?", "login", "membership")</span>
        <br />
        <span>Kullanıcı İşlemleri İçin @Html.ActionLink("Tıklayınız", "setprofile", "membership")</span>
        if (Model.UserIsSuperUser) {
            <br />
            <span>Üst Yönetici'siniz @Html.ActionLink("Rol-Yetki Atama", "setroles", "membership")</span>
        }
    } else {
        <span>
            @Html.ActionLink("Giriş Yap", "login", "membership") / @Html.ActionLink("Kayıt Ol", "register", "membership")
        </span>
    }
</div>
