﻿@using FS.Model.Objects
@model FileItem

@using (Html.BeginForm("downloadfile", "home", new { argument = Model.ID } , FormMethod.Post,
    new { @class = "form-inline col-md-4" })) {
    <a class="btn-close span6" href="javascript:void(0)" onclick='$(this).closest("form").submit();'>
        <img src="~/Content/img/download.png" title="İndir"/>
    </a>
}
@using (Html.BeginForm("displayfile", "home", new { argument = Model.ID }, FormMethod.Post,
    new { @class = "form-inline col-md-4" })) {
    <a class="btn-close span6" href="javascript:void(0)" onclick='$(this).closest("form").submit();'>
        <img src="~/Content/img/display.png" title="görüntüle" />
    </a>
}
@using (Html.BeginForm("deletefile", "home", new { argument = Model.ID }, FormMethod.Post, 
    new { @class = "form-inline col-md-4" })) {
    <a class="btn-close span6" href="javascript:void(0)" onclick='if(confirm("Dosya Tamamen Silinecektir!")) { $(this).closest("form").submit(); }'>
        <img src="~/Content/img/delete.png" title="sil" />
    </a>
}