﻿@using FS.ViewModel
@model FileUploadViewModel


<div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Kapat">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="h-modal-title"></h4>
            </div>
            <div class="modal-body" id="div-modal-body">
                @using (Html.BeginForm("upload", "home", FormMethod.Post, new { @class = "form-horizontal col-md-offset-2", enctype = "multipart/form-data" })) {
                    <fieldset>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.File, new { type = "file", @class = "form-control" })
                            <p class="help-block">Seçtiğiniz Dosya Burada Görünecek</p>
                        </div>
                        <button type="submit" class="btn btn-success">Yüklemeyi Tamamlayın</button>
                    </fieldset>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

