﻿<style>
    .boxed {
        width: 120px;
        margin: 0px;
        padding: 0px;
    }
</style>

@if ((bool)ViewData["ShowDate"]) {
    <div class="boxed" id="date-clock">
        <img src="" id="dy1"><img src="" id="dy2"><img src="" class="clock-seperator"><img src="" id="mt1"><img src="" id="mt2"><img src="" class="clock-seperator"><img src="" id="yr1"><img src="" id="yr2"><img src="" id="yr3"><img src="" id="yr4">
    </div>
}
@if ((bool)ViewData["ShowTime"]) {
    <div class="boxed" id="time-clock">
        <img src="" id="hr1"><img src="" id="hr2"><img src="" class="clock-seperator"><img src="" id="mn1"><img src="" id="mn2"><img src="" class="clock-seperator"><img src="" id="se1"><img src="" id="se2"><img src="" id="ampm">
    </div>
}
