﻿@using BilBildir.ViewModel.UI.Error
@using BilBildir.Web.Models

@model ErrorViewModel

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@Public.SiteName | @ViewBag.Title</title>
	@Styles.Render("~/Content/layout")
	@Scripts.Render("~/bundles/modernizr")

	@RenderSection("styles", required: false)
</head>
<body>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			@RenderBody()
		</div>
	</div>
	@Html.Partial("_Footer", new ViewDataDictionary() { { "SiteName", Model.SiteName } })

	@Scripts.Render("~/bundles/layout")
	@Scripts.Render("~/bundles/error")
	@RenderSection("scripts", required: false)
	@Html.Partial("_Modal", Model.ResultObject)
	@Html.RenderScripts()
</body>
</html>
