﻿<style>
	a.flag-lang {
		width: 25px !important;
		height: 25px !important;
		margin-right: 0px !important;
		margin-left: 0px !important;
		padding-right: 0px !important;
		padding-left: 0px !important;
		transition: all 200ms ease;
		transform: translateZ(0);
	}

		a.flag-lang:hover {
			color: inherit !important;
			background-color: inherit !important;
			transform: scale(1.2) translateZ(0);
		}
</style>

<li>
	<a href="@Url.Action("lang", "default", new { language = "tr-TR" })" class="flag-lang"
	   title="@(Public.TitleTurkishLanguage)">
		<img src="~/Images/flag.tr-TR.png" />
	</a>
</li>
<li>
	<a href="@Url.Action("lang", "default", new { language = "en-US" })" class="flag-lang"
	   title="@(Public.TitleEnglishLanguage)">
		<img src="~/Images/flag.en-US.png" />
	</a>
</li>