﻿@using BilBildir.Web.Models
@using BilBildir.Model.TransferObjects
@model ResultObject

@Html.Script(0, @<script src="@Url.Content("~/Scripts/common/ShowModal.js")" type="text/javascript"></script>)

@if (Model.ShowModal == true || Model.Success == false) {
	@Html.Script(1, 
	@<script type="text/javascript">
	$(function () {
		succeeds('@(Model.Message)', '@(Model.ModalTitle)', '@(Model.Success)' == 'True' ? true : false, '@(Model.Redirect)');
	});
	</script>);
}

<div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
						aria-label="@(Model.ModalDismiss)">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="h-modal-title"></h4>
			</div>
			<div class="modal-body" id="div-modal-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">@(Model.ModalDismiss)</button>
			</div>
		</div>
	</div>
</div>

