﻿@using BilBildir.Web.Models
@using BilBildir.Definitions.Static
@using BilBildir.ViewModel.UI.User
@using LLF.Extensions

@model UserViewModel

@{
	var summaryLength = 20;
	var i18nv1 = "~/Scripts/common/i18n/datepicker-{0}.js".PostFormat(System.Threading.Thread.CurrentThread.CurrentCulture.Name.Substring(0, 2));
	var i18nv2 = "~/Scripts/common/i18n/datepicker-{0}.js".PostFormat(System.Threading.Thread.CurrentThread.CurrentCulture.Name);
    var i18n = File.Exists(Server.MapPath(i18nv1)) ? i18nv1 : 
        (File.Exists(Server.MapPath(i18nv2)) ? i18nv2 : "~/Scripts/common/i18n/datepicker-en-GB.js");
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="@Classified.SiteName">
	<meta name="author" content="@Classified.SiteAuthor">
	<meta name="keyword" content="@Classified.Keywords">
	<!-- end: Meta -->
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>@Classified.SiteName | @ViewBag.Title</title>


	@Styles.Render("~/Content/board")
	@Html.RenderStyles()

	@*<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>*@

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="@Html.Virtualize("/Images/favicon.ico")">
	<!-- end: Favicon -->
	@RenderSection("styles", required: false)

</head>
<body>
	<div>
		<!-- start: Header -->
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="@Url.Action("index", "user")">
						<span>@Classified.SiteName</span>
					</a>

					<!-- start: Header Menu -->
					<div class="nav-no-collapse header-nav">
						<ul class="nav pull-right">
							<li class="dropdown hidden-phone">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="halflings-icon white warning-sign"></i>
								</a>
								<ul class="dropdown-menu notifications">
									<li class="dropdown-menu-title">
										<span>
											@Classified.YouHaveNotifications.PostFormat(Model.Notifications.Count())
										</span>
										<a href="#refresh"><i class="icon-repeat"></i></a>
									</li>
									@foreach (var notif in Model.Notifications) {
										<li>
											<a href="#" data-rel="tooltip" data-original-title="@notif.Time.ActualAgo()">
												<span class="icon @(notif.ColorClass)"><i class="@notif.IconClass"></i></span>
												<span class="message">@notif.Message.Summary(summaryLength)</span>
											</a>
										</li>
									}
									<li class="dropdown-menu-sub-footer">
										<a>@Classified.ViewAllNotifications</a>
									</li>
								</ul>
							</li>
							<!-- start: Tasks Dropdown -->
							<li class="dropdown hidden-phone">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="halflings-icon white tasks"></i>
								</a>
								<ul class="dropdown-menu tasks">
									<li class="dropdown-menu-title">
										<span>@Classified.YouHaveTaskInProgress.PostFormat(Model.AssignedTasks.Count())</span>
										<a href="#refresh"><i class="icon-repeat"></i></a>
									</li>
									@foreach (var task in Model.AssignedTasks) {
										<li>
											<a href="@Url.Action("thetask", "user",
                                    new { command = "view", argument = task.TaskID })">
												<span class="header">
													<span class="title">@task.Title</span>
													<span class="percent">@task.CompletionPercent</span>
												</span>
												<div class="taskProgress progressSlim @(task.TaskCompletionColorClass)">@task.CompletionPercent</div>
											</a>
										</li>
									}
									<li>
										<a href="@Url.Action(SegmentDefaults.MyTasks, "user", new { argument = String.Empty })" class="dropdown-menu-sub-footer">@Classified.ViewAllTasks</a>
									</li>
								</ul>
							</li>
							<!-- end: Tasks Dropdown -->
							<!-- start: Message Dropdown -->
							<li class="dropdown hidden-phone">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="halflings-icon white envelope"></i>
								</a>
								<ul class="dropdown-menu messages">
									<li class="dropdown-menu-title">
										<span>@Classified.YouHaveMessages.PostFormat(Model.Messages.Count())</span>
										<a href="#refresh"><i class="icon-repeat"></i></a>
									</li>
									@foreach (var msg in Model.Messages) {
										<li>
											<a href="#" data-rel="tooltip" data-original-title="@msg.MessagedOn.ActualAgo()">
												<span class="avatar"><img src="@Html.Virtualize(msg.Actor.Author.Profile.AvatarPath.DefaultIfNullOrEmpty("/Content/img/avatar.jpg"))" alt="Avatar"></span>
												<span class="header">
													<span class="from">
														@msg.Actor.Author.Profile.Identity
													</span>
												</span>
												<span class="message">
													@msg.MessageText
												</span>
											</a>
										</li>
									}
									<li>
										<a class="dropdown-menu-sub-footer">@Classified.ViewAllMessages</a>
									</li>
								</ul>
							</li>
							<!-- end: Message Dropdown -->
							<li>
								<a class="btn" href="#">
									<i class="halflings-icon white wrench"></i>
								</a>
							</li>
							<!-- start: User Dropdown -->
							<li class="dropdown">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="halflings-icon white user"></i>
									@(this.ViewContext.ActorIdentity())
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li class="dropdown-menu-title">
										<span>@Classified.AccountSettings</span>
									</li>
									<li>
										<a href="@Url.Action("setprofile", "user")">
											<i class="halflings-icon user"></i> @Classified.Profile
										</a>
									</li>
									<li>
										<a href="@Url.Action("login", "auth")" onclick="return confirm('@(Classified.ConfirmLogout)')">
											<i class="halflings-icon off">
											</i> @Classified.Logout
										</a>
									</li>
								</ul>
							</li>
							<!-- end: User Dropdown -->
							<li>
								<div style="margin-top: 7px;">@Html.Partial("_DigitalClock", new ViewDataDictionary() { { "ShowDate", false }, { "ShowTime", true } })</div>
							</li>
							@Html.Partial("_LanguageSwitcher")
						</ul>
					</div>
					<!-- end: Header Menu -->

				</div>
			</div>
		</div>
		<!-- start: Header -->

		<div class="container-fluid-full">
			<div class="row-fluid">

				<!-- start: Main Menu -->
				<div id="sidebar-left" class="span2">
					<div class="nav-collapse sidebar-nav">
						<ul class="nav nav-tabs nav-stacked main-menu">
							<li><a href="@Url.Action("index", "user")"><i class="icon-bar-chart"></i><span class="hidden-tablet">@Classified.User</span></a></li>
							<li>
								<a class="dropmenu" href="#">
									<i class="icon-envelope"></i><span class="hidden-tablet"> @Classified.AllBidsTitle</span>
									<span class="label label-@(Model.ItemCounterClass) pull-right"> @Model.ExistingBidCount </span>
								</a>
								<ul>
									<li>
										<a class="submenu" href="@Url.Action("bids", "user")">
											<i class="icon-file-alt"></i>
											<span class="hidden-tablet">
												@Classified.BidCatalogTitle
											</span>
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="dropmenu" href="#">
									<i class="icon-eye-open"></i><span class="hidden-tablet"> @Classified.BidApplicationCatalogParentTitle</span>
									<span class="label label-@(Model.ItemCounterClass) pull-right"> @Model.PublishedBidCount </span>
								</a>
								<ul>
									<li>
										<a class="submenu" href="@Url.Action("mybids", "user")">
											<i class="icon-file-alt"></i>
											<span class="hidden-tablet">
												@Classified.BidApplicationCatalogTitle
											</span>
										</a>
									</li>
									<li>
										<a class="submenu" href="@Url.Action("addbid", "user")">
											<i class="icon-file-alt"></i>
											<span class="hidden-tablet">
												@Classified.InsertBidTitle
											</span>
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="dropmenu" href="#"><i class="icon-tasks"></i><span class="hidden-tablet"> @Classified.TasksParentTitle</span></a>
								<ul>
									<li>
										<a class="submenu" href="@Url.Action(SegmentDefaults.MyTasks, "user", new { argument = String.Empty })">
											<i class="icon-file-alt"></i>
											<span class="hidden-tablet">
												@Classified.BidTasksTitle
											</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- end: Main Menu -->

				<noscript>
					<div class="alert alert-block span10">
						<h4 class="alert-heading">Warning!</h4>
						<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
					</div>
				</noscript>

				<!-- start: Content -->
				@RenderBody();
				<!-- end: Content -->
			</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
		<div class="clearfix"></div>

		<footer>

			<p>
				<span style="text-align:left;float:left">&copy; 2013 <a href="http://jiji262.github.io/Bootstrap_Metro_User/" alt="Bootstrap_Metro_User">Bootstrap Metro User</a></span>

			</p>

		</footer>

		<!-- start: JavaScript-->
		@Scripts.Render("~/bundles/board")
		@Scripts.Render("~/bundles/msajax")
		@Scripts.Render("~/bundles/custom")
		@Scripts.Render(i18n);
		@RenderSection("scripts", required: false)
		@Html.Partial("_Modal", Model.ResultObject)
		@Html.RenderScripts()
	</div>
</body>
</html>
