﻿@model IPartialModel

@foreach (var item in Model.Enumerate()) {
	<div style="display: inline-table">
		@if (item.ContainsKey("IsPostBackLink") && item["IsPostBackLink"].ToType<Boolean>()) {
            if (item.ContainsKey("ConfirmText") && !item["ConfirmText"].IsUnassigned()) {
                <a href="@Url.Action(item["Action"].ToString(), item["Controller"].ToString(), item["RouteData"])"
                   class="btn btn-circle btn-@(item["AnchorClass"].ToString())" data-placement="top" data-toggle="tooltip" data-original-title="@(item["LinkTitle"].ToString())"
                   onclick="return confirm('@(item["ConfirmText"].ToString())');">
                    <i class="fa fa-@(item["IconClass"].ToString())"></i>
                </a>
            } else {
                <a href="@Url.Action(item["Action"].ToString(), item["Controller"].ToString(), item["RouteData"])"
                   class="btn btn-circle btn-@(item["AnchorClass"].ToString())" data-placement="top" data-toggle="tooltip" data-original-title="@(item["LinkTitle"].ToString())">
                    <i class="fa fa-@(item["IconClass"].ToString())"></i>
                </a>
            }
        } else {
            if (item.ContainsKey("ConfirmText") && !item["ConfirmText"].IsUnassigned()) {
                using (Ajax.BeginForm(item["Action"].ToString(), item["Controller"].ToString(), item["RouteData"],
                new AjaxOptions() {
                    HttpMethod = "POST",
                    AllowCache = true,
                    OnSuccess = "succeeded"
                }, new { @class = "form-inline" })) {
                    <a href="javascript:void(0)"
                       class="btn btn-circle btn-@(item["AnchorClass"].ToString()) ajax-submitter" data-confirm='@(item["ConfirmText"])' data-placement="top" data-toggle="tooltip" data-original-title="@(item["LinkTitle"].ToString())">
                        <i class="fa fa-@(item["IconClass"].ToString())"></i>
                    </a>
                }
            } else {
                using (Ajax.BeginForm(item["Action"].ToString(), item["Controller"].ToString(), item["RouteData"],
                new AjaxOptions() {
                    HttpMethod = "POST",
                    AllowCache = true,
                    OnSuccess = "succeeded"
                }, new { @class = "form-inline" })) {
                    <a href="javascript:void(0)"
                       class="btn btn-circle btn-@(item["AnchorClass"].ToString()) ajax-submitter" data-placement="top" data-toggle="tooltip" data-original-title="@(item["LinkTitle"].ToString())">
                        <i class="fa fa-@(item["IconClass"].ToString())"></i>
                    </a>
                }
            }
        }
	</div>
}