﻿@model IBasicPaginationModel
<ul class="pagination" data-lmpc-action="@(Model.Action)">

    @foreach (var kv in Model.EnumeratePages()) {
        <li class="@(kv.Key == Model.ActivePage ? "active" : "")"><a data-page="@(kv.Value ? kv.Key : Model.OnEllipsis ? -2 : -1)">@(kv.Value ? kv.Key.ToString() : "...")</a></li>
    }

</ul>