﻿@model IBasicTablifyModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i>@Model.TableTitle
        @if (Model.DisplaysCommandList) {
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        @Model.ActionsTitle
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            @foreach (var command in Model.Commands) {
                                @command.Render(this.ViewContext)
                            }
                        </li>
                    </ul>
                </div>
            </div>
        }
        @if (Model.DisplaysPagination) {
            <div class="pull-right">
                @RenderPagination()
            </div>
        }

    </div>

    <div class="panel-body">
        @if (Model.Rows.Count() > 0) {
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                @RenderHeader()
                            </thead>
                            <tbody>
                                @RenderRows()
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        } else {
            @Model.EmptyString
        }
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>
@helper RenderHeader() {
    <tr>
        @foreach (var column in Model.Columns) {
            @column.Render(this.ViewContext)
        }
    </tr>
}

@helper RenderRows() {
    foreach (var row in Model.Rows) {
        @row.Render()
    }
}

@helper RenderPagination() {
    @Html.Partial("_BasicPagination", Model.Paginator)
}


@Html.Script(@Model.InstanceIndex + 11, @<script>

    $(function () {
        paginator('@Model.AjaxTarget', '@(Url.Action(Model.Action, Model.Controller, new { command = "page", argument = Model.Page, target = Model.AjaxTarget }))', '@Model.Action');
    });

    </script>)
