﻿@model CodeGridModel

@{
    var ajaxTarget = "ajax-target-codes";
    Func<LinkRowModel, IPartialModel> linkRowAction = row => DependencyContainer.Take<IPartialModel>()
                                .Attribute("Action")
                                    .Has(SSegmentConfig.ModifyLink)
                                    .Has(SSegmentConfig.ExtendLink)
                                    .Has(SSegmentConfig.RemoveLink)
                                .Attribute("IsPostBackLink").Has(true).Has(true).Has(false)
                                .Attribute("Controller").Has("user").Has("user").Has("user")
                                .Attribute("RouteData")
                                    .Has(new { command = "view", argument = row.Token })
                                    .Has(new { token = row.Token })
                                    .Has(new { argument = row.CodeLinkID })
                                .Attribute("LinkTitle")
                                    .Has(PageContent.EditCommand)
                                    .Has(PageContent.AddToCommand)
                                    .Has(PageContent.RemoveCommand)
                                .Attribute("ConfirmText")
                                    .Has("").Has("").Has(PageContent.DeleteLinkConfirm)
                                .Attribute("IconClass").Has("search").Has("plus").Has("times")
                                .Attribute("AnchorClass").Has("info").Has("success").Has("danger");
    var page = Request.RequestContext.RouteData.Values["argument"].ToType<Int32>();

    IBasicTablifyModel tablify = new BasicTablifyModel(Model.CodeLinkRows, SSegmentConfig.CodeGrid, "user", ajaxTarget);
    tablify.SetPaginated(5).SetTableTitle(PageContent.CodeGridTitle).SetEmptyString(PageContent.NoCodeGridData).SetActionsTitle(PageContent.CodeGridActionsTitle)
        .SetRowModelType(typeof(LinkRowModel))
        .AppendColumn(col => col.SetTitle("#").SetRowIndexContent<LinkRowModel>((rowIndex, link) => "#{0}".PostFormat(rowIndex)))
        .AppendColumn(col => col.SetTitle(PageContent.TokenHeader)
            .SetHtmlContent<LinkRowModel>((i, link) => new String[] { @"<a href=""{0}"" target=""_blank"">{1}</a>", this.ViewContext.GetPublicUrl(link.Token), link.Token }))
        .AppendColumn(col => col.SetTitle(PageContent.PublicUriHeader).SetContent<LinkRowModel>((i, link) => link.ClickCount))
        .AppendColumn(col => col.SetTitle(PageContent.TitlesSummaryHeader).SetHtmlContent<LinkRowModel>((i, link) => new String[] { @"<a href=""{0}"" target=""_blank"">{0}</a></td>", link.PublicUrl }))
        .AppendColumn(col => col.SetTitle(PageContent.GeneratedOnHeader).SetContent<LinkRowModel>((i, link) => link.GeneratedOn.ToString("dd.MM.yyyy HH:mm")))
        .AppendColumn(col => col.SetTitle(PageContent.ClickCountHeader)
            .SetContent<LinkRowModel>((i, link) => link.ClickCount ))
        .AppendColumn(col => col.SetTitle(PageContent.CommandsHeader).SetContent<LinkRowModel>((i, link) => Html.Partial("_Actions", linkRowAction(link))))
        .AppendCommand(ajax => ajax.SetAction(SSegmentConfig.LinkGrid).SetController("user").SetCommandTitle(PageContent.GridActionDeleteAll)
            .SetRouteData(new { command = "deleteall", argument = "0", target = ajaxTarget }).SetOnSuccess("succeeded"));
}

@tablify.Render(this.ViewContext)