﻿@using Kodlaborate.ViewModels.Engine
@using Kodlaborate.ViewModels.RowModels
@using Kodlaborate.CoreData.EntityObjects
@using Kodlaborate.Resources.Globals

@model CodeBlockModel
<script>
    function blockdeleted(data) {
        console.log(data);
        var parsed = JSON.parse(data);
        parsed = parsed.Response;
        if (parsed.Success) {
            var container = $("#block-container-" + parsed.Data);
            var replace = $('<div id="block-wrapper-' + parsed.Data + '" class="alert alert-success" role="alert">' + parsed.Message + '</div>');
            container.wrap(replace);
            container.fadeOut('slow');
            replace.fadeIn('slow');
        }
    }
</script>
<div class="panel panel-primary" id="block-container-@(Model.ID)">
    <div class="panel-heading">
        <h3 class="panel-title">@(Model.Title)</h3>
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            @using (@Ajax.BeginForm(SSegmentConfig.DeleteBlock, "user", new { argument = Model.ID }, new AjaxOptions() {
                HttpMethod = "POST",
                AllowCache = true,
                OnSuccess = "blockdeleted"
            }, new { @class = "form-inline", role = "form" })) {
                <div class="form-group pull-right">
                    <div class="input-group">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="submit" id="code-deleter" class="btn btn-sm btn-warning">@(PageContent.DeleteCodeBlockSubmit)</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel-body">
        @using (@Ajax.BeginForm(SSegmentConfig.ModifyLink, new { command = "edit", argument = Model.ID }, new AjaxOptions() {
            HttpMethod = "POST",
            AllowCache = true, 
            OnSuccess = "succeeded"
        }, new { @class = "form-horizontal col-xs-10 col-xs-offset-1", role = "form" })) {
            <fieldset>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, (string)PageContent.TitleLabel, new { @for = "input-title", @class = "control-label" })
                    <div class="input-group col-xs-12">
                        @Html.TextBoxFor(m => m.Title, new { type = "text", @class = "form-control", id = "input-title", placeholder = PageContent.TitlePlaceholder, required = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BlockText, (string)PageContent.CodeBlockLabel, new { @for = "input-code-block", @class = "control-label" })
                    <div class="input-group col-xs-12">
                        @Html.TextAreaFor(m => m.BlockText, new { @class = "form-control", id = "codeblock-area-" + Model.ID, placeholder = PageContent.CodeBlockPlaceholder, rows = "7", required = "" })
                        <span class="help-block">@(PageContent.PasteYourCodeHelpLink)</span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SelectedLanguageID, (string)PageContent.LanguageLabel, new { @for = "select-language", @class = "control-label" })
                    <div class="input-group col-xs-12">
                        @Html.DropDownListFor(m => m.SelectedLanguageID,
                       Model.Languages.Select(l => new SelectListItem() { Text = l.Name, Value = l.ID.ToString() }), new { @class = "form-control", id = "select-language" })
                    </div>
                </div>
                <div class="form-group pull-right">
                    <div class="input-group">
                        <button type="submit" id="code-submitter" class="btn btn-primary">
                            @(PageContent.ModifyLinkSubmit)
                        </button>
                    </div>
                </div>
            </fieldset>
            <script src="~/Scripts/code/mode/@(Model.SelectedLanguage.Mode)/@(Model.SelectedLanguage.Mode).js"></script>
            <script>
                $(function() {
                    CodeMirror.fromTextArea(
                    document.getElementById("codeblock-area-@(Model.ID)"), {
                        lineNumbers: true,
                        lineWrapping: true,
                        mode: "@(Model.SelectedLanguage.MimeType)"
                    });
                });
            </script>
        }
    </div>
</div>

