﻿@using Kodlaborate.ViewModels.Engine
@using Kodlaborate.ViewModels.RowModels
@using Kodlaborate.CoreData.EntityObjects
@using Kodlaborate.Resources.Globals

@model CodeBlockModel

<div class="panel panel-primary" id="block-container-@(Model.ID)">
    <div class="panel-heading">
        <h3 class="panel-title">@(Model.Title)</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="input-group col-xs-12">
                @Html.TextAreaFor(m => m.BlockText, new { @class = "form-control", id = "codeblock-area-" + Model.ID, placeholder = PageContent.CodeBlockPlaceholder, rows = "5" })
            </div>
        </div>
        <div class="form-group">
            <div class="input-group col-xs-12">
                @Html.DropDownListFor(m => m.SelectedLanguageID,
                       Model.Languages.Select(l => new SelectListItem() { Text = l.Name, Value = l.ID.ToString() }), new { @class = "form-control", id = "select-language", disabled = "" })
            </div>
        </div>
        @Scripts.Render("~/Scripts/code/mode/" + Model.SelectedLanguage.Mode + "/" + Model.SelectedLanguage.Mode + ".js")
        <script>
            $(function () {
                CodeMirror.fromTextArea(
                    document.getElementById("codeblock-area-@(Model.ID)"), {
                        lineNumbers: true,
                        lineWrapping: true,
                        mode: "@(Model.SelectedLanguage.MimeType)"
                    });
                });
        </script>
    </div>
</div>
