﻿@model System.Web.Mvc.HandleErrorInfo


<div class="row">
    <div class="jumbotron text-center">
        <p>
            <small>@PageContent.SmallProblem</small>
        </p>
        <h1><span class="text-danger">@Response.StatusCode!</span></h1>
        <p class="lead">
            <a href="~/">@PageContent.GetMeOutOfHere</a>
        </p>
    </div>
</div>
