﻿@model PublicLinkModel

@{
    var ajaxTarget = "ajax-target-links";
    Func<LinkRowModel, IPartialModel> userRowAction = row => DependencyContainer.Take<IPartialModel>()
                                .Attribute("Action").Has(SSegmentConfig.LinkGrid).Has(SSegmentConfig.LinkGrid).Has(SSegmentConfig.LinkGrid)
                                .Attribute("Controller").Has("adminpanel").Has("adminpanel").Has("adminpanel")
                                .Attribute("RouteData")
                                    .Has(new { command = "online", argument = row.CodeLinkID, target = ajaxTarget })
                                    .Has(new { command = "offline", argument = row.CodeLinkID, target = ajaxTarget })
                                    .Has(new { command = "delete", argument = row.CodeLinkID, target = ajaxTarget })
                                .Attribute("LinkTitle").Has(AdminContent.ActionOnlineTitle).Has(AdminContent.ActionOfflineTitle).Has(AdminContent.ActionDeleteTitle)
                                .Attribute("IconClass").Has("check").Has("list").Has("times")
                                .Attribute("AnchorClass").Has("success").Has("primary").Has("danger");
    var page = Request.RequestContext.RouteData.Values["argument"].ToType<Int32>();

    IBasicTablifyModel tablify = new BasicTablifyModel(Model.PublicLinks, SSegmentConfig.LinkGrid, "adminpanel", ajaxTarget);
    tablify.SetPaginated(5).SetTableTitle(AdminContent.PublicLinkGridTitle).SetEmptyString(AdminContent.LinkGridEmptyMessage).SetActionsTitle(AdminContent.GridActionsTitle)
        .SetRowModelType(typeof(LinkRowModel))
        .AppendColumn(col => col.SetTitle("#").SetRowIndexContent<LinkRowModel>((rowIndex, link) => "#{0}".PostFormat(rowIndex)))
        .AppendColumn(col => col.SetTitle(AdminContent.LinkGridLinkColumn).SetSortable()
            .SetHtmlContent<LinkRowModel>((i, link) => new String[] { @"<a href=""{0}"" target=""_blank"">{1}</a>", this.ViewContext.GetPublicUrl(link.Token), link.Token }))
        .AppendColumn(col => col.SetTitle(AdminContent.LinkGridClickCountColumn).SetContent<LinkRowModel>((i, link) => link.ClickCount).SetSortable())
        .AppendColumn(col => col.SetTitle(AdminContent.LinkGridCodeCountColumn).SetContent<LinkRowModel>((i, link) => link.CodeBlockCount).SetSortable())
        .AppendColumn(col => col.SetTitle(AdminContent.LinkGridGeneratedOnColumn).SetContent<LinkRowModel>((i, link) => link.GeneratedOn.ToString("dd.MM.yyyy HH:mm")).SetSortable())
        .AppendColumn(col => col.SetTitle(AdminContent.LinkGridStatusColumn).SetSortable()
            .SetHtmlContent<LinkRowModel>((i, link) => new String[] { @"<span class=""label label-{0}"">{1}</span>", link.StatusLabelClass, link.StatusText }))
        .AppendColumn(col => col.SetTitle(AdminContent.GridCommandsColumn).SetContent<LinkRowModel>((i, link) => Html.Partial("_Actions", userRowAction(link))))
        .AppendCommand(ajax => ajax.SetAction(SSegmentConfig.LinkGrid).SetController("adminpanel").SetCommandTitle(AdminContent.GridActionOnlineAll)
            .SetRouteData(new { command = "onlineall", argument = "0", target = ajaxTarget }).SetOnSuccess("succeeded"))
        .AppendCommand(ajax => ajax.SetAction(SSegmentConfig.LinkGrid).SetController("adminpanel").SetCommandTitle(AdminContent.GridActionOfflineAll)
            .SetRouteData(new { command = "offlineall", argument = "0", target = ajaxTarget }).SetOnSuccess("succeeded"))
        .AppendCommand(ajax => ajax.SetAction(SSegmentConfig.LinkGrid).SetController("adminpanel").SetCommandTitle(AdminContent.GridActionDeleteAll)
            .SetRouteData(new { command = "deleteall", argument = "0", target = ajaxTarget }).SetOnSuccess("succeeded"));

}

@tablify.Render(this.ViewContext)
