﻿@using Kodlaborate.ViewModels.PageModels
@model LoginModel


@using (@Ajax.BeginForm("login", "user", null, new AjaxOptions() {
    HttpMethod = "POST",
     AllowCache = true, 
    OnSuccess = "succeeded"
}, new { @class = "form-inline" })) {
    <fieldset>
        @Html.AntiForgeryToken()
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-globe"></i>
            </span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", type = "email", placeholder = PageContent.EmailPlaceholder, required = "" })
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
            </span>
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-lg", type = "password", placeholder = PageContent.PasswordPlaceholder, required = "" })
        </div>
        <button type="submit" id="button-submit" class="btn btn-lg btn-success">@PageContent.LoginSubmit</button>
    </fieldset>
}

