﻿@using Kodlaborate.Web.Models
@using Kodlaborate.ViewModels.Engine
@using Kodlaborate.ViewModels.PageModels.Base
@using Kodlaborate.Resources.Globals

@model UserModelBase

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@PageContent.SiteTitle | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/DashboardContent/font-awesome/css/font-awesome.css")" rel="stylesheet" />
     @*@Scripts.Render("~/bundles/modernizr")*@
    @Html.RenderStyles()
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/codeparser")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/msajax")
    @Scripts.Render("~/bundles/custom")
    @Html.RenderScripts()
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/" class="navbar-brand">@PageContent.SiteTitle</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-left text-center">
                    @Html.Partial("_LanguageSwitcher")
                </ul>
                @if (this.ViewContext.UserIsLoggedin()) {
                    <ul class="nav navbar-nav navbar-right text-center">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">@PageContent.ProfileDropToggle<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="@Url.Action(SSegmentConfig.ModifyProfile, "user")" class="btn btn-sm btn-white">
                                        @PageContent.ProfileUpdateTitle
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action(SSegmentConfig.Logout, "user")" class="btn btn-sm btn-white">@PageContent.Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right text-center">
                        @if (this.ViewContext.UserIsAdministrator()) {
                            <li><a href="@Url.Action(SSegmentConfig.Dashboard, "adminpanel")">@PageContent.Dashboard</a></li>
                        }
                        <li><a href="@Url.Action(SSegmentConfig.NewLink, "user")">@PageContent.NewLink</a></li>
                        <li><a href="@Url.Action(SSegmentConfig.CodeGrid, "user", new { command = String.Empty, argument = String.Empty, target = String.Empty })">@PageContent.MyCodes</a></li>
                    </ul>
                } else {
                    <ul class="nav navbar-nav navbar-right text-center">
                        <li><a href="@Url.Action(SSegmentConfig.GenerateLink, "code")">@PageTitles.GenerateLink</a></li>
                        <li><a href="@Url.Action(SSegmentConfig.Login, "user")">@PageContent.LoginTitle</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" id="themes">@PageContent.NotHavingCredentials<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="@Url.Action(SSegmentConfig.Recover, "user")">@PageContent.ForgotPassword</a>
                                </li>
                                <li>
                                    <a href="@Url.Action(SSegmentConfig.Register, "user")">@PageContent.CreateAnAccount</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="jumbotron codelb">
                <h1>@PageContent.SiteName</h1>
                <p class="lead">@PageContent.SiteSlogan</p>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@RenderSection("panelheader", required: false)</h3>
                </div>
                <div class="panel-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
    @Html.Partial("_Modal", Model.Response)
</body>
</html>
