﻿@model UserGridModel

@{
    var ajaxTarget = "ajax-target-users";
    Func<UserRowModel, IPartialModel> userRowAction = row => DependencyContainer.Take<IPartialModel>()
                                .Attribute("Action").Has(SSegmentConfig.UserGrid).Has(SSegmentConfig.UserGrid).Has(SSegmentConfig.UserGrid)
                                .Attribute("Controller").Has("adminpanel").Has("adminpanel").Has("adminpanel")
                                .Attribute("RouteData")
                                    .Has(new { command = "activate", argument = row.AuthorID, target = ajaxTarget })
                                    .Has(new { command = "freeze", argument = row.AuthorID, target = ajaxTarget })
                                    .Has(new { command = "delete", argument = row.AuthorID, target = ajaxTarget })
                                .Attribute("LinkTitle").Has(AdminContent.ActionActivateTitle).Has(AdminContent.ActionFreezeTitle).Has(AdminContent.ActionDeleteTitle)
                                .Attribute("IconClass").Has("check").Has("list").Has("times")
                                .Attribute("AnchorClass").Has("success").Has("primary").Has("danger");
    var page = Request.RequestContext.RouteData.Values["argument"].ToType<Int32>();
    var pageSize = 5;
    var paginator = new BasicPaginationModel(Model.UserRows, page, pageSize, SSegmentConfig.UserGrid);
    var rowIndex = paginator.RowStartIndex;
}

<!--    Context Classes  -->
<div class="panel panel-primary">

    <div class="panel-heading">
        <i class="fa fa-users fa-fw"></i>@AdminContent.UsersGridTitle
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    @AdminContent.GridActionsTitle
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        @using (Ajax.BeginForm(SSegmentConfig.UserGrid, "adminpanel", new { command = "activateall", argument = "0", target = ajaxTarget },
                        new AjaxOptions() {
                            HttpMethod = "POST",
                            AllowCache = true,
                            OnSuccess = "succeeded"
                        }, new { @class = "form-inline" })) {
                            <a href="javascript:void(0)" class="ajax-submitter">
                                @AdminContent.GridActionActivateAll
                            </a>
                        }
                    </li>
                    <li>
                        @using (Ajax.BeginForm(SSegmentConfig.UserGrid, "adminpanel", new { command = "freezeall", argument = "0", target = ajaxTarget },
                        new AjaxOptions() {
                            HttpMethod = "POST",
                            AllowCache = true,
                            OnSuccess = "succeeded"
                        }, new { @class = "form-inline" })) {
                            <a href="javascript:void(0)" class="ajax-submitter">
                                @AdminContent.GridActionFreezeAll
                            </a>
                        }
                    </li>
                    <li>
                        @using (Ajax.BeginForm(SSegmentConfig.UserGrid, "adminpanel", new { command = "deleteall", argument = "0", target = ajaxTarget },
                        new AjaxOptions() {
                            HttpMethod = "POST",
                            AllowCache = true,
                            OnSuccess = "succeeded"
                        }, new { @class = "form-inline" })) {
                            <a href="javascript:void(0)" class="ajax-submitter">
                                @AdminContent.GridActionDeleteAll
                            </a>
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div class="pull-right">
            @Html.Partial("_BasicPagination", paginator)
        </div>

    </div>

    <div class="panel-body">
        @if (Model.UserRows.Count() > 0) {
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@AdminContent.UsersGridFirstNameColumn</th>
                            <th>@AdminContent.UsersGridLastNameColumn</th>
                            <th>@AdminContent.UsersGridLinkCountColumn</th>
                            <th>@AdminContent.UsersGridLinkGeneratedOnColumn</th>
                            <th>@AdminContent.UsersGridStatusColumn</th>
                            <th class="text-center">@AdminContent.GridCommandsColumn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in paginator.PaginatedModel<UserRowModel>()) {
                            <tr>
                                <td>#@(rowIndex++)</td>
                                <td>@user.FirstName.Summary(6)</td>
                                <td>@user.LastName.Summary(6)</td>
                                <td>@user.LinkCount</td>
                                <td>@user.GeneratedOn.ToString("dd.MM.yyyy HH:mm")</td>
                                <td><span class="label label-@(user.StatusLabelClass)">@user.StatusText</span></td>
                                <td class="text-center">@Html.Partial("_Actions", userRowAction(@user))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        } else {
            @AdminContent.UsersGridEmptyMessage
        }
    </div>
</div>
<!--  end  Context Classes  -->
@Html.Script(2, @<script>

    $(function () {
        paginator('@ajaxTarget', '@(Url.Action(SSegmentConfig.UserGrid, "adminpanel", new { command = "page", argument = page, target = ajaxTarget }))', '@SSegmentConfig.UserGrid');
    });

    </script>)
