﻿@model CodeBlockModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_User.cshtml";
}


<div class="well">
    <p class="text-info text-center lead">@PageContent.GenerateCodeInformation</p>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">@PageContent.NewLinkTitle</h3>
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("tokenize", "code", null, new AjaxOptions() {
            HttpMethod = "GET",
             AllowCache = true, 
            OnSuccess = "tokenized"
        }, new { @class = "form-inline" })) {
            <fieldset>
                <legend><span class="text-info"></span></legend>
                <div class="row col-xs-12">
                    <div class="form-group col-xs-10">
                        @Html.LabelFor(m => m.Token, "Token", new { @class = "sr-only", @for = "token-input" })
                        <div class="input-group col-xs-12">
                            <div class="input-group-addon"><span class="text-warning">#</span></div>
                            @Html.TextBoxFor(m => m.Token,
                            new {
                                @class = "form-control col-xs-10",
                                id = "token-input",
                                placeholder = PageContent.TokenPlaceholder,
                                disabled = "disabled"
                            })
                            <div class="input-group-addon">
                                <a href="#" target="" id="token-container" class="text-success">
                                    @(PageContent.NoToken)
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-2">
                        <div class="input-group col-xs-12">
                            <button type="submit" class="btn btn-warning form-control">@(PageContent.Retokenize)</button>
                        </div>
                    </div>
                </div>
                <script>
                    function tokenized(data) {
                        var parsed = JSON.parse(data);
                        $('#token-container').text(parsed.PublicUrl);
                        $('#token-container').attr('href', parsed.PublicUrl);
                        $('#token-container').attr('target', "_blank");
                        $('#token-input').val(parsed.Token);
                        $('#input-hidden-uri').val(parsed.Token);
                        $('#codeblock-container').find('input,select,textarea,button').removeAttr('disabled');
                    }
                </script>
            </fieldset>
        }
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@(PageContent.AddANewCode)</h3>
    </div>
    <div class="panel-body" id="codeblock-container">
        @using (@Ajax.BeginForm("GenerateLink", "code", null, new AjaxOptions() {
            HttpMethod = "POST",
             AllowCache = true, OnSuccess = "succeeded"
            
        }, new { @class = "form-horizontal col-xs-10 col-xs-offset-1", role = "form" })) {
            <fieldset>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, (string)PageContent.TitleLabel, new { @for = "input-title", @class = "control-label" })
                    <div class="input-group col-xs-12">
                        @Html.TextBoxFor(m => m.Title, new { type = "text", @class = "form-control", id = "input-title", placeholder = PageContent.TitlePlaceholder, disabled = "disabled", required = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BlockText, (string)PageContent.CodeBlockLabel, new { @for = "input-code-block", @class = "control-label" })
                    <div class="input-group col-xs-12">
                        @Html.TextAreaFor(m => m.BlockText, new { @class = "form-control", id = "input-code-block", placeholder = PageContent.CodeBlockPlaceholder, rows = "7", disabled = "disabled", required = "" })
                        <span class="help-block">@(PageContent.PasteYourCodeHelpLink)</span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SelectedLanguageID, (string)PageContent.LanguageLabel, new { @for = "select-language", @class = "control-label" })
                    <div class="input-group col-xs-12">
                        @Html.DropDownListFor(m => m.SelectedLanguageID,
                       Model.Languages.Select(l => new SelectListItem() { Text = l.Name, Value = l.ID.ToString() }),
                       new { @class = "form-control", id = "select-language", disabled = "disabled" })
                    </div>
                </div>
                @Html.Hidden("Token", null, new { id = "input-hidden-uri" })
                <div class="form-group pull-right">
                    <div class="input-group col-xs-12">
                        <button type="submit" class="btn btn-primary" disabled="disabled">@(PageContent.NewLinkSubmit)</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
