﻿#carousel {
  width:1200px;
  height:1800px;
  position:relative;
  clear:both;
  overflow:hidden;
}
#carousel img {
  visibility:hidden; /* hide images until carousel positions them */
  cursor:pointer;
}