﻿@using Kodlaborate.ViewModels.RowModels

@model CodeGridModel

@{
    ViewBag.Title = Model.PageTitle;
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_User.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div id="ajax-target-codes">
            @Html.Partial("_CodeGrid", Model)
        </div>
    </div>
</div>
