﻿@using Kodlaborate.ViewModels.Engine
@using Kodlaborate.ViewModels.RowModels
@using Kodlaborate.Resources.Globals

@model CodeBlockModel

@{
    ViewBag.Title = PageTitles.AddToLink;
    Layout = "~/Views/Shared/_User.cshtml";
}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">@PageContent.ExistingTokenHeader</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="sr-only" for="token-input">
                @(PageContent.TokenLabel)
            </label>
            <div class="col-md-10 col-md-offset-1">
                <div class="input-group">
                    <div class="input-group-addon">#</div>
                    <input type="text" name="token-input" id="token-input" value="@(Model.Token)" class="form-control" disabled />
                    <div class="input-group-addon">
                        <a href="@(Model.PublicUrl)" target="_blank" id="token-container" class="text-success">@(Model.PublicUrl)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@PageContent.AddtoLinkHeader</h3>
    </div>
    <div class="panel-body">
        @using (@Ajax.BeginForm(SSegmentConfig.ExtendLink, "user", new AjaxOptions() {
            HttpMethod = "POST",
             AllowCache = true, 
            OnSuccess = "succeeded"
        }, new { @class = "form-horizontal col-xs-10 col-xs-offset-1", role = "form" })) {
            <fieldset>
                @Html.AntiForgeryToken()
                <legend>@PageContent.AddToFormLegend</legend>
                <div class="form-group">
                    @Html.LabelFor(m => m.Token, (string)PageContent.TitleLabel, new { @for = "input-title", @class = "control-label" })
                    <div class="input-group col-xs-12">
                        @Html.TextBoxFor(m => m.Title, new { type = "text", @class = "form-control", id = "input-title", placeholder = PageContent.TitlePlaceholder, required = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Token, (string)PageContent.CodeBlockLabel, new { @for = "input-code-block", @class = "control-label" })
                    <div class="input-group col-xs-12">
                        @Html.TextAreaFor(m => m.BlockText, new { @class = "form-control", id = "input-code-block", placeholder = PageContent.CodeBlockPlaceholder, rows = "7", required = "" })
                        <span class="help-block">@(PageContent.PasteYourCodeHelpLink)</span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SelectedLanguageID, (string)PageContent.LanguageLabel, new { @for = "select-language", @class = "control-label" })
                    <div class="input-group col-xs-12">
                        @Html.DropDownListFor(m => m.SelectedLanguageID,
                       Model.Languages.Select(l => new SelectListItem() { Text = l.Name, Value = l.ID.ToString() }), new { @class = "form-control", id = "select-language" })
                    </div>
                </div>
                <div class="form-group pull-right">
                    <div class="input-group">
                        <button type="submit" id="code-submitter" class="btn btn-primary">
                            @(PageContent.NewLinkSubmit)
                        </button>
                    </div>
                </div>
                @Html.Hidden("Token", null, new { id = "input-hidden-uri" })
            </fieldset>
        }
    </div>
</div>


@if ((Model.Response.GetData<IEnumerable<CodeBlockModel>>()).Count() > 0) {
    <h2 class="text-white-shadow">@(PageContent.ExistingCodeHeader)</h2>
} else {
    <h2 class="text-white-shadow">@(PageContent.NoExistingCodeHeader)</h2>
}
@foreach (var model in Model.Response.GetData<IEnumerable<CodeBlockModel>>()) {

    @Html.Partial("_CodeBlockReadOnly", model)

}
