﻿@model LoginModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_User.cshtml";
}

<div class="well"> 
    <p class="text-info text-center lead">@PageContent.LoginInformation</p>
</div>
<div class="well text-center">
    @Html.Partial("_Login", Model)
</div>