﻿@using Kodlaborate.ViewModels.Engine
@using Kodlaborate.ViewModels.RowModels
@using Kodlaborate.CoreData.EntityObjects

@model DisplayLinkModel

@{
    ViewBag.Title = PageTitles.ModifyLink;
    Layout = "~/Views/Shared/_User.cshtml";
}

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title text-black-shadow">@(PageContent.ExistingTokenHeader)</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="sr-only" for="token-input">
                @(PageContent.TokenLabel)
            </label>
            <div class="col-md-10 col-md-offset-1">
                <div class="input-group">
                    <div class="input-group-addon">#</div>
                    <input type="text" name="token-input" id="token-input" value="@(Model.Token)" class="form-control" disabled />
                    <div class="input-group-addon">
                        <a href="@(Model.PublicUrl)" target="_blank" id="token-container" class="text-success">@(Model.PublicUrl)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Response.GetData<IEnumerable<CodeBlockModel>>().Count() > 0) {
    <h2 class="text-white-shadow">@(PageContent.ExistingCodeHeader)</h2>
} else {
    <h2 class="text-white-shadow">@(PageContent.NoExistingCodeHeader)</h2>
}
@foreach (var model in Model.Response.GetData<IEnumerable<CodeBlockModel>>()) {
    @Html.Partial("_CodeBlock", model)
}