﻿@model RecoverModel

@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_User.cshtml";
}

@section panelheader {
    @PageContent.RecoverFormHeader
}

@using (Ajax.BeginForm("recover", "user", null, new AjaxOptions() {
    HttpMethod = "POST",
    AllowCache = true, OnSuccess = "succeeded"

}, new { @class = "form-horizontal col-md-offset-1 col-xs-10", role = "form" })) {
    @Html.AntiForgeryToken()
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-globe"></i>
        </span>
        <div class="input-group col-xs-12">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", type = "email", placeholder = PageContent.EmailPlaceholder, required = "" })
        </div>
        <span class="input-group-addon">
            <button type="submit" id="button-submit" class="btn btn-success">
                @(PageContent.RecoverySubmit)
            </button>
        </span>
    </div>
    <div class="input-group pull-right">
        <a href="@Url.Action("login", "user")" class="btn btn-sm btn-white">
            <small>@(PageContent.RememberedCredentials)</small>
        </a>
    </div>
}
