﻿@model IdentityModel

@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_User.cshtml";
}

@section panelheader {
    @(PageContent.RegisterFormHeader)
}
@using (Ajax.BeginForm("register", null, new AjaxOptions() {
    HttpMethod = "POST",
    AllowCache = true, OnSuccess = "succeeded"

}, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="input-group col-xs-offset-1 col-xs-10">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            @Html.TextBoxFor(m => m.Identity, new { @class = "form-control input-lg", type = "text", placeholder = PageContent.IdentityPlaceholder, required = "" })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group col-xs-offset-1 col-xs-10">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-globe"></i>
            </span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", type = "email", placeholder = PageContent.EmailPlaceholder, required = "" })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group col-xs-offset-1 col-xs-10">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
            </span>
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-lg", type = "password", placeholder = PageContent.PasswordPlaceholder, required = "" })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group col-xs-offset-1 col-xs-10">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
            </span>
            @Html.TextBoxFor(m => m.PasswordRepeat, new { @class = "form-control input-lg", type = "password", placeholder = PageContent.PasswordRepeatPlaceholder, required = "" })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group col-xs-offset-1 col-xs-10">
            <div class="pull-right">
                <a href="@Url.Action("recover", "user")" class="btn btn-sm btn-white">
                    @(PageContent.ForgotPassword)
                </a>
                <button type="submit" id="button-submit" class="btn btn-primary">
                    @(PageContent.SubmitRegister)
                </button>
            </div>
        </div>
    </div>
}
