﻿@using Kodlaborate.Resources.Globals
@using Kodlaborate.Web.Models
@model RepassModel

@{
    ViewBag.Title = PageTitles.Reset;
    Layout = "~/Views/Shared/_User.cshtml";
}

@section panelheader {
    @PageContent.ResetYourNewPassword
}
@using (Ajax.BeginForm(SSegmentConfig.Repass, "user", new { token = @Url.RouteValueForKey("token") }, new AjaxOptions() {
    HttpMethod = "POST",
    AllowCache = true, OnSuccess = "succeeded"

}, new { role = "form", @class = "form-horizontal col-xs-10 col-xs-offset-1" })) {
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-group">
            <div class="input-group col-xs-12">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                @Html.TextBox("Password", null,
                        new {
                            @class = "form-control input-lg",
                            placeholder = PageContent.PasswordPlaceholder,
                            type = "password",
                            autofocus = "",
                            required = ""
                        })
            </div>
        </div>
        <div class="form-group">
            <div class="input-group col-xs-12">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                @Html.TextBox("PasswordRepeat", null,
                            new {
                                @class = "form-control input-lg",
                                placeholder = PageContent.PasswordRepeatPlaceholder,
                                type = "password",
                                required = ""
                            })
            </div>
        </div>
        <button type="submit" id="button-submit" class="btn btn-primary pull-right">
            @(PageContent.ResetPasswordSubmit)
        </button>
        <a href="@Url.Action("login", "user")" class="btn btn-sm btn-white pull-right">
            <small>@(PageContent.RememberedCredentials)</small>
        </a>
    </fieldset>
}
