﻿@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_MembershipLayout.cshtml";
}

@using FS.ViewModel.Membership
@model SetProfileViewModel

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Profil Değişikliği</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("setprofile", "membership", FormMethod.Post,
                new { @class = "form-horizontal col-md-offset-2", role = "form" })) {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="input-group col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-md", type = "text", placeholder = "Kullanıcı Adı (ahmet_veli)", required = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-md-10">
                            @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control input-md", type = "password", placeholder = "Eski Şifre", required = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-md-10">
                            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control input-md", type = "password", placeholder = "Yeni Şifre", required = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-md-10">
                            @Html.DropDownListFor(m => m.SelectedRole, new SelectList(Model.Roles, "ID", "Description"), new { @class = "form-control input-md" })
                        </div>
                    </div>
                    <button type="submit" id="button-submit" class="btn btn-primary block full-width">
                        Onaylayın
                    </button>
                    <button type="reset" class="btn btn-danger" onclick="history.go(-1);">İptal</button>
                }
            </div>
        </div>

    </div>
</div>
