﻿@using BilBildir.ViewModel.UI.Landing
@using LLF.Extensions
@using BilBildir.Web.Models
@using BilBildir.ViewModel.Extensions

@model AtriumViewModel
@{
	ViewBag.Title = Model.ViewTitle;
	Layout = "~/Views/Shared/_Landing.cshtml";
	var summaryLength = 140;
}

<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
	<ol class="carousel-indicators bring-front">
		<li data-target="#inSlider" data-slide-to="0" class="active"></li>
		@Html.Raw(@Model.Carousels.Count().Times(k =>
			@"<li data-target=""#inSlider"" data-slide-to=""{0}""></li>".PostFormat(k)
		).Aggregate("", (prev, next) => prev + next))
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="container">
				<div class="carousel-caption bring-front">
					<h2 class="bring-front">
						@Public.IntroductionLine1<br />
						@Public.IntroductionLine2<br />
						@Public.IntroductionLine3<br />
						@Public.IntroductionLine4
					</h2>
					<p>@Public.IntroductionSubText</p>
					<p>
						<a class="btn btn-lg btn-primary page-scroll" href="#contact" role="button">@Public.IntroductionKnowUs</a>
						<a class="caption-link page-scroll" href="#features" role="button">@Public.Features</a>
					</p>
				</div>
				<div class="carousel-image wow zoomIn">
					<img src="@Html.Virtualize("/Images/Landing/CarouselItems/carousel-item-0.png")" alt="" />
				</div>
			</div>
			<!-- Set background for slide in css -->
			<div class="header-back one"></div>

		</div>
		@foreach (var carousel in Model.Carousels) {
			<div class="item">
				<div class="container">
					<div class="carousel-caption bring-front @(carousel.Blank ? "blank" : "")">
						<h2 class="bring-front">
							@carousel.IntroductionLine1<br />
							@carousel.IntroductionLine2<br />
							@carousel.IntroductionLine3<br />
							@carousel.IntroductionLine4
						</h2>
						<p class="bring-front">@carousel.IntroductionSubText</p>
						<p>
							<a class="btn btn-lg btn-primary" href="#" role="button">@Public.ButtonTextLeft</a>
							<a class="caption-link page-scroll" href="#features" role="button">@Public.Features</a>
						</p>
					</div>
					@if (!carousel.Blank) {
						<div class="carousel-image wow zoomIn">
							<img src="@Html.Virtualize(carousel.ImageLink)" alt="" />
						</div>
					}
				</div>
				<!-- Set background for slide in css -->
				<div class="header-back two"></div>
			</div>
		}

	</div>
	<a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">@Public.CarouselPrevious</span>
	</a>
	<a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">@Public.CarouselNext</span>
	</a>
</div>

<section id="features" class="container services">
	<div class="row">
		<div class="col-sm-3">
			<h2>@Public.FeaturesTitle1</h2>
			<p>@Public.FeaturesText1.Summary(summaryLength)</p>
			<p><a class="navy-link" href="#" role="button" onclick='ShowModal({ Success: true, ModalTitle:"@Public.FeatureDetails", Message: "@Public.FeaturesText1"})'>@Public.FeatureDetails &raquo;</a></p>
		</div>
		<div class="col-sm-3">
			<h2>@Public.FeaturesTitle2</h2>
			<p>@Public.FeaturesText2.Summary(summaryLength)</p>
			<p><a class="navy-link" href="#" role="button" onclick='ShowModal({ Success: true, ModalTitle:"@Public.FeatureDetails", Message: "@Public.FeaturesText2"})'>@Public.FeatureDetails &raquo;</a></p>
		</div>
		<div class="col-sm-3">
			<h2>@Public.FeaturesTitle3</h2>
			<p>@Public.FeaturesText3.Summary(summaryLength)</p>
			<p><a class="navy-link" href="#" role="button" onclick='ShowModal({ Success: true, ModalTitle:"@Public.FeatureDetails", Message: "@Public.FeaturesText3"})'>@Public.FeatureDetails &raquo;</a></p>
		</div>
		<div class="col-sm-3">
			<h2>@Public.FeaturesTitle4</h2>
			<p>@Public.FeaturesText4.Summary(summaryLength)</p>
			<p><a class="navy-link" href="#" role="button" onclick='ShowModal({ Success: true, ModalTitle:"@Public.FeatureDetails", Message: "@Public.FeaturesText4"})'>@Public.FeatureDetails &raquo;</a></p>
		</div>
	</div>
</section>

<section class="container features">
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="navy-line"></div>
			<h1>@Public.FeaturesCenterLine1<br /> <span class="navy"> @Public.FeaturesCenterLine2</span> </h1>
			<p>@Public.FeaturesCenterLine3 </p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-center wow fadeInLeft">
			<div>
				<i class="fa fa-mobile features-icon"></i>
				<h2>@Public.FeaturesTitle1</h2>
				<p>@Public.FeaturesText1.Summary(summaryLength)</p>
			</div>
			<div class="m-t-lg">
				<i class="fa fa-bar-chart features-icon"></i>
				<h2>@Public.FeaturesTitle2</h2>
				<p>@Public.FeaturesText2.Summary(summaryLength)</p>
			</div>
		</div>
		<div class="col-md-6 text-center  wow zoomIn">
			<img src="@Html.Virtualize("/Images/Landing/perspective.png")" alt="user" class="img-responsive">
			>
		</div>
		<div class="col-md-3 text-center wow fadeInRight">
			<div>
				<i class="fa fa-envelope features-icon"></i>
				<h2>@Public.FeaturesTitle3</h2>
				<p>@Public.FeaturesText3.Summary(summaryLength)</p>
			</div>
			<div class="m-t-lg">
				<i class="fa fa-google features-icon"></i>
				<h2>@Public.FeaturesTitle4</h2>
				<p>@Public.FeaturesText4.Summary(summaryLength)</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="navy-line"></div>
			<h1>@Public.Features12ColumnsHeader</h1>
			<p>@Public.Features12ColumnsText </p>
		</div>
	</div>
	<div class="row features-block">
		<div class="col-lg-6 features-text wow fadeInLeft">
			<small>@Public.SiteName</small>
			<h2>@Public.SiteSlogan </h2>
			<p>@Public.SiteDescription</p>
			<a href="#" class="btn btn-primary">@Public.LearnMore</a>
		</div>
		<div class="col-lg-6 text-right wow fadeInRight">
			<img src="@Html.Virtualize("/Images/Landing/dashboard.png")" alt="user" class="img-responsive pull-right">
			>
		</div>
	</div>
</section>

<section id="team" class="gray-section team">
	<div class="container">
		<div class="row m-b-lg">
			<div class="col-lg-12 text-center">
				<div class="navy-line"></div>
				<h1>@Public.Team</h1>
				<p>@Public.TeamExplanation</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 wow fadeInLeft">
				<div class="team-member">
					<img src="@Html.Virtualize("/Images/Landing/avatar1.jpg")" class="img-responsive img-circle img-small" alt="" />
					<h4><span class="navy">@Public.CEOName</span> @Public.CEOLastName</h4>
					<p>@Public.CEODescription</p>
					<ul class="list-inline social-icon">
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="team-member wow zoomIn">
					<img src="@Html.Virtualize("/Images/Landing/avatar1.jpg")" class="img-responsive img-circle" alt="">
					<h4><span class="navy">@Public.CEOName</span> @Public.CEOLastName</h4>
					<p><span class="navy">@Public.CEONick</span></p>
					<p>@Public.CEODescription</p>
					<ul class="list-inline social-icon">
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4 wow fadeInRight">
				<div class="team-member">
					<img src="@Html.Virtualize("/Images/Landing/avatar1.jpg")" class="img-responsive img-circle img-small" alt="">
					<h4><span class="navy">@Public.CEOName</span> @Public.CEOLastName</h4>
					<p>@Public.CEODescription</p>
					<ul class="list-inline social-icon">
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="testimonials" class="navy-section testimonials">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center wow zoomIn">
				<i class="fa fa-comment big-icon"></i>
				<h1>
					@Public.WhatUsersSay
				</h1>
				@foreach (var comment in Model.Comments) {
					<div class="testimonials-text">
						<i>"@comment.DescriptionManifest.GetTextGlobalized()"</i>
					</div>
					<small>
						<strong>@comment.CommentedOn - @comment.CommenterIdentity</strong>
					</small>
				}
			</div>
		</div>
	</div>
</section>

<section id="contact" class="gray-section contact">
	<div class="container">
		<div class="row m-b-lg">
			<div class="col-lg-12 text-center">
				<div class="navy-line"></div>
				<h1>@Public.Contact</h1>
				<p>@Public.LandingContactSubText</p>
			</div>
		</div>
		<div class="row m-b-lg">
			<div class="col-lg-3 col-lg-offset-3">
				<address>
					<strong><span class="navy">@Public.CompanyName</span></strong><br />
					@Public.CompanyAddressLine1<br />
					@Public.CompanyAddressLine2<br />
					<abbr title="Phone">P:</abbr> @Public.CompanyPhone
				</address>
			</div>
			<div class="col-lg-4">
				<p class="text-color">
					@Public.CompanyContactText
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<a href="mailto:@(Public.ContactEMail)" class="btn btn-primary">@Public.LandingSendUsMail</a>
				<p class="m-t-sm">
					@Public.LandingFollowUs
				</p>
				<ul class="list-inline social-icon">
					<li>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
				<p><strong>&copy; 2015 @Public.CompanyName</strong><br /> @Public.SiteSlogan</p>
			</div>
		</div>
	</div>
</section>
