﻿@using BilBildir.ViewModel.UI.Auth
@using BilBildir.Web.Models
@model LoginViewModel

@{
	ViewBag.Title = Model.ViewTitle;
	Layout = "~/Views/Shared/_Auth.cshtml";
}

<div class="col-lg-5 col-md-7 col-sm-9" style="margin-top: 60px;">
	<h5 class="auth-header only-black-shadow text-white">@Public.SignToContinue</h5>
	@using (Ajax.BeginForm("login", "auth", null, new AjaxOptions() {
		HttpMethod = "POST",
		AllowCache = false,
		OnSuccess = "succeeded"
	}, new { role = "form" })) {
		<fieldset>
			@Html.AntiForgeryToken()
			<div class="row">
				<div class="center-block">
					<img class="logo-img"
						 src="@Html.Virtualize("/Images/logo.png")" alt="">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-user"></i>
							</span>
							@Html.TextBoxFor(m => m.UserName,
										   new {
											   @class = "form-control col-lg-7 transparent-input",
											   placeholder = Public.UsernamePlaceholder,
											   name = "UserName",
											   type = "email",
											   autofocus = "",
											   required = "",
										   })
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-lock"></i>
							</span>
							@Html.TextBoxFor(m => m.Password,
										   new {
											   @class = "form-control col-lg-7 transparent-input",
											   placeholder = Public.PasswordPlaceholder,
											   name = "Password",
											   type = "password",
											   required = ""
										   })
						</div>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-lg btn-primary btn-block transparent-input" value="@Public.SignInSubmit">
					</div>
				</div>
			</div>
		</fieldset>
	}
	<p class="text-center">
		<span class="only-black-shadow text-white">@Public.NotHavingAnAccount</span> <a href="@Url.Action("signup", "auth")" class="only-white-shadow"> @Public.SignUpHere </a>
	</p>
</div>
