﻿@using BilBildir.ViewModel.UI.Auth
@using BilBildir.Web.Models
@model ResetPasswordViewModel

@{
	ViewBag.Title = Model.ViewTitle;
	Layout = "~/Views/Shared/_Auth.cshtml";
}

<div class="col-lg-5 col-md-7 col-sm-9" style="margin-top: 60px;">
	@if (Model.TokenValidatesTrue) {
		<h5 class="auth-header only-black-shadow text-white">@Public.ResetYourNewPassword</h5>
		using (Ajax.BeginForm("repass", "auth", new { token = Url.RouteValueForKey("token") }, new AjaxOptions() {
			HttpMethod = "POST",
			AllowCache = false,
			OnSuccess = "succeeded"
		}, new { role = "form" })) {
			<fieldset>
				@Html.AntiForgeryToken()
				<div class="row">
					<div class="center-block">
						<img class="profile-img"
							 src="@Html.Virtualize("/Images/login.png")" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i>
								</span>
								@Html.TextBoxFor(m => m.Password,
										   new {
											   @class = "form-control col-lg-7 transparent-input",
											   placeholder = Public.PasswordPlaceholder,
											   type = "password",
											   required = ""
										   })
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i>
								</span>
								@Html.TextBoxFor(m => m.PasswordRepeat,
										   new {
											   @class = "form-control col-lg-7 transparent-input",
											   placeholder = Public.PasswordRepeatPlaceholder,
											   type = "password",
											   required = ""
										   })
							</div>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-lg btn-primary btn-block transparent-input" value="@Public.ResetPasswordSubmit">
						</div>
					</div>
				</div>
			</fieldset>
		}
		<p class="text-center">
			<span class="only-black-shadow text-white">@Public.HavingCredentials</span> <a href="@Url.Action("login", "auth")" class="only-white-shadow"> @Public.LoginHere </a>
		</p>
	}
</div>
